/* --------------------------------------------------------------------
               	DEVFEST LILLE 2022
               		Main style-sheet
          				Ge Ricci, 2022
-------------------------------------------------------------------- */
@import "vars.css";

/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, aside, article, big, cite, code, del, dfn, em, figure, figcaption,
  footer, header, img, ins, kbd, main, nav, q, s, samp, section, small, strike, strong, sub, sup, tt, var, b,
  u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
  tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
}

/* ------------------------------ DEFAULTS ---------------------------- */

@font-face {
    font-family: "Archivo SemiBold";
    src: url("Archivo-VariableFont_wdth,wght.ttf");
    font-weight: 100 900;
    font-stretch: 62% 125%;
    unicode-range: U+000D, U+0020-007E, U+00A0-017F, U+018F, U+0192, U+019D,
        U+01A0-01A1, U+01AF-01B0, U+01C4-01DC, U+01E6-01E7, U+01EA-01EB,
        U+01FA-021B, U+022A-022D, U+0230-0233, U+0237, U+0259, U+0272,
        U+02B9-02BA, U+02BC, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0300-0304,
        U+0306-030C, U+030F, U+0311-0313, U+031B, U+0323-0324, U+0326-0328,
        U+032E, U+0331, U+0335-0338, U+0394, U+03A9, U+03BC, U+03C0,
        U+1E24-1E25, U+1E62-1E63, U+1E6C-1E6D, U+1E80-1E85, U+1E9E,
        U+1EA0-1EF9, U+2009, U+2010-2011, U+2013-2015, U+2017-201A,
        U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A,
        U+203E, U+2044, U+2052, U+2070, U+2074-2079, U+207F-2089, U+2099,
        U+20A1, U+20A3-20A4, U+20A6-20A7, U+20A9, U+20AB-20AD, U+20B1-20B2,
        U+20B5, U+20B9-20BA, U+20BC-20BD, U+2105, U+2113, U+2116-2117, U+2122,
        U+2126, U+212E, U+2190-2195, U+21A8, U+2202, U+2205-2206, U+220F,
        U+2211-2212, U+2215, U+2219-221A, U+221E-221F, U+2229, U+222B, U+2248,
        U+2260-2261, U+2264-2265, U+2302, U+2310, U+2320-2321, U+25CA,
        U+27E8-27E9, U+E0FF, U+EFFD, U+F000, U+FB01-FB02, U+FEFF;
}

body {
  height: 100%;
  font: 100%/1.3 "Archivo SemiBold", Calibri, "Droid Sans", Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" 250, "wdth" 100;
  color: var(--body-text);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 strong {
  display: block;
  width: 70%;
  max-width: 424px;
}
h1 > span {
  display: block;
  font-size: 1.2rem;
  color: var(--text-high);
  background-color: var(--body-bg);
  margin-left: 23%;
}

h1 time::after {content: "/ ";}

h2 {
  font-size: calc(1.2em + 1vw);
  font-variation-settings: "wght" 800, "wdth" 100;
  margin-bottom: 0.8em;
}
h3 {
  font-size: calc(0.75em + 0.9vmax);
  margin-bottom: 0.8em;
}

p, li, dt, dd {
  font-size: 1em;
}

li p, li li, li dt, li dd {
  font-size: 100%;
}

a {color: var(--link-color);}
a:visited {color: var(--text-high);}

:focus {outline: 2px dotted var(--link-color);}

strong {
  font-variation-settings: "wght" 600, "wdth" 100;
  font-weight: normal;
}

img {
  max-width: 100%;
  border: none;
}

button {
  font: 100%/1 var(--stack);
  padding: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

hr {display: none;}

abbr {cursor: help;}


/* ----------------------------------------------------------------- */
/* -------------------------- STRUCTURE ---------------------------- */


header {
  display: flex;
  flex-direction: column-reverse;
  margin: 1.5rem 5% 0;
  transition: all .3s;
}


main, aside {margin: 0 5vw;}

footer {
  position: relative;
  background-color: var(--n-dark);
  padding: 2rem 5% 5rem calc(5% + 2.5rem);
  z-index: 1;
}

footer .p-name {
  font-size: 1.2em;
  font-variant: small-caps;
}

  footer .p-name::before {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    left: 5%;
    content: "";
    background-image: url(../img/logotype.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
  }

footer .p-summary {
  max-width: 30em;
  margin: 1rem 0 0 2.5rem;
}

.copyright {font-size: 0.8em;}

dl.h-event dd:last-of-type {
  font-size: 0.85em;
  margin: 0.5rem 0 0 0;
}

div.footer-links {margin: 1rem 0 0 0;}

footer ul.editions {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px dotted var(--body-text);
}

footer ul.editions::before {
  content: "Editions précedentes: ";
  font-size: 80%;
}

ul.links-list li {
  font-size: 0.85em; 
  line-height: 2;
  list-style-position: inside;
}

ul.sm-list {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style-type: none;
  margin: 2rem 0;
}
  ul.sm-list li {width: 25px;}


/* ----------------------------------------------------------------- */
/* -------------------------- NAVIGATION ---------------------------- */

.no-display {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -5000px;
}

.k-skip {
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

.k-skip a {
  display: block;
  position: absolute;
  overflow: hidden;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}
.k-skip a:focus {position: static; width: auto; height: auto;}

nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: var(--hot-color);
  background: var(--n-dark);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

nav li {
	font-size: 0.8em;
	font-variation-settings: "wght" 600, "wdth" 100;
	font-variant: small-caps;
	text-transform: uppercase;
	padding: 0.75em 0;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
  border-bottom: 2px solid var(--n-dark);
}

nav a:visited {
  color: var(--hot-color);
  background: var(--n-dark);
}

nav a:hover, nav a:focus, nav a[aria-current] {
  border-color: var(--hot-light);
}


/* ----------------------------------------------------------------- */
/* -------------------------- HOME ---------------------------- */

#home header.with-cfp, #home header.with-cfp.active {
  padding-top: 3rem;
}

#home header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  background-color: var(--n-dark);
  padding: 1rem 5% 0.2rem;
  margin: 0;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
  transition: all .3s;
  z-index: 10;
}

header.with-cfp {
  padding-top: 3rem;
}

  #home header.active img {width: 140px;}
  #home header.active span {
    font-size: 0.8rem;
    text-align: right;
    background-color: var(--n-dark);
  }
  #home header.active time {display: block;}
  #home header.active h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #home header.active h1 strong {width: 60%;}
  #home header.active h1 span {margin-left: 0;}
  #home header.active ~ #wrapper {margin-top: 15vh;}

section.news {
  background-color: rgba(255,255,255,0.05);
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 5px 5px var(--n-dark);
}
  section.news h3 {
    font-variation-settings: "wght" 800,"wdth" 100;
  }

  section.news p {max-width: 35em; line-height: 1.5;}
  section.news p + p  {margin-top: 0.8em;}

  section.news article + article {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px dotted var(--text-high);
  }

aside {
  margin: 0 5vw 6rem;
}

aside div.be-partner {
  color: var(--n-dark);
  background: var(--hot-light);
  padding: 1rem 1.5rem 1.5rem;
  margin: 0 0 4rem;
}

  aside div.be-partner p {max-width: 25em; padding-top: 0.5rem;}
  aside div.be-partner a, aside div.be-partner a:visited {
    color: var(--n-dark);
    background-color: var(--hot-light);
  }

  div.sponsors {
    padding-top: 0.5rem;
    margin-top: 1rem;
  }

  div.sponsors h3 {
    font-variation-settings: "wght" 800;
    color: var(--hot-color);
    margin-bottom: 1rem;
    border-top: 5px dotted var(--hot-color);
  }
  div.sponsors.silver h3 {
    color: var(--main-color);
    border-color: var(--main-color);
  }
  div.sponsors.bronze h3 {
    color: var(--hot-light);
    border-color: var(--hot-light);
  }
  div.sponsors.partner h3 {
    color: var(--hot-color);
    border-color: var(--hot-color);
  }

  div.sponsors ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
  }

  div.sponsors li {
    box-sizing: border-box;
    min-width: 80px;
    background-color: var(--text-high);
    padding: 0.5rem;
    margin: 0 auto 2rem auto;
    border-radius: 100%;
  }
    div.sponsors a {
      margin: 1rem;
      width: 100px;
      height: 100px;
      display: flex;
    }

    div.sponsors img {
      margin: auto;
    }

div.sponsors a:focus, aside div.be-partner a:focus, p.cfp a:focus {
  outline-color: var(--body-bg);
}


p.register {
  font-variation-settings: "wght" 800;
  margin-top: 0.8em;
}

div.presentation {
  max-width: 45em;
  line-height: 1.5;
  margin: 7vw 0 5vw;
}

  div.presentation p {font-size: calc(1.2rem + 1vw);}

div.stats {margin-bottom: 4rem;}

  div.stats ul {
    overflow: hidden;
    min-height: 5rem;
    list-style-type: none;
  }
  div.stats strong {
    display: block;
    font-size: 250%;
    color: var(--hot-light);
    text-align: right;
  }

  div.stats span {
    display: block;
    border-top: 1px solid var(--main-color);
  }

  div.stats li {
    overflow: hidden;
    position: relative;
    height: 1px;
    background-color: var(--body-bg);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: margin;
  }

  @keyframes slideStats1 {
    0% {height: 1px;}
    100% {height: 5rem;}
  }
  @keyframes slideStats2 {
    0% {height: 1px; margin-top: -5rem;}
    40% {margin-top: 0;}
    100% {height: 5rem; margin-top: 0;}
  }
  @keyframes slideStats3 {
    0% {height: 1px; margin-top: -10rem;}
    50% {margin-top: 0;}
    100% {height: 5rem; margin-top: 0;}
  }
  @keyframes slideStats4 {
    0% {height: 1px; margin-top: -15rem;}
    30% {margin-top: 0;}
    100% {height: 5rem; margin-top: 0;}
  }

  div.stats li:nth-child(1) {
    animation-name: slideStats1;
    z-index: 4;
  }
  div.stats li:nth-child(2) {
    margin-top: -5rem;
    animation-name: slideStats2;
    z-index: 1;
  }
  div.stats li:nth-child(3) {
    margin-top: -10rem;
    animation-name: slideStats3;
    z-index: 2;
  }
  div.stats li:nth-child(4) {
    margin-top: -15rem;
    animation-name: slideStats4;
    z-index: 3;
  }

div.decor {
  position: relative;
  margin: 0 0 4rem;
  z-index: 1;
}
  div.decor h2 strong {
    display: block;
    transition: all .5s;
  }

  div.decor .content {max-width: 800px;}

p.illustration {margin-bottom: 1rem;}

div.decor::after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 50%;
  bottom: 0;
  left: 2rem;
  border-left: 9px dotted var(--hot-light);
  transition: all .5s;
}

div.decor p {line-height: 1.45;}

div.decor p:not(.illustration) {
  font-size: calc(0.8em + 1vw);
  margin-right: 2rem;
  margin-left: 4rem;
}
p.read-more {margin-top: 1rem;}


/* ----------------------------------------------------------------- */
/* -------------------------- ARTICLE ---------------------------- */


.page-body {max-width: 55em; margin: 4rem 0;}

  .page-body h2 {
    color: var(--main-color);
  }
  .page-body p, .page-body li {line-height: 1.6;}

  .page-body p + p {margin-top: 0.8em;}

  .page-body ul {margin: 1em;}

div.faq + div.faq {margin-top: 2rem;}

div.faq h3 {color: var(--hot-light);}

article.h-entry p + h3 {
  margin-top: 1em;
}
article.h-entry h3 {
  font-variation-settings: "wght" 800;
  color: var(--hot-light);
}

article.h-entry div.group {
  margin-top: calc(2rem + 2vw);
}

article.h-entry div.group.typography {
  padding: calc(1rem + 2vw) 0;
  border-top: 10px dotted var(--hot-light);
  border-bottom: 10px dotted var(--hot-light);
}

ul.thumbs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin: 1rem 0 0;
}

  ul.thumbs li {
    font-size: 0.9em;
    text-align: center;
    background-color: var(--n-dark);
    padding: 1rem;
  }
  
  ul.thumbs a {
    box-sizing: border-box;
    display: block; 
    padding: 1rem 2rem;
  }
  ul.thumbs a:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 2l5 5v14.008a.993.993 0 0 1-.993.992H3.993A1 1 0 0 1 3 21.008V2.992C3 2.444 3.445 2 3.993 2H16zm-3 10V8h-2v4H8l4 4 4-4h-3z' style='fill:%23EF7918' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 15px right;
  }

  ul.palette {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 2rem 0 0;
  }

  ul.palette li {
    font-size: 0.8em;
    text-align: center;
  }

  ul.palette li::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    margin: 0 auto 1rem;
    border-radius: 50px;
  }

  ul.palette li:nth-child(1)::before {
    background-color: #F61C7C;
  }
  ul.palette li:nth-child(2)::before {
    background-color: #EF7918;
  }
  ul.palette li:nth-child(3)::before {
    background-color: #03B7D5;
  }
  ul.palette li:nth-child(4)::before {
    background-color: #191919;
    border: 1px solid currentColor;
  }


/* ----------------------------------------------------------------- */
/* ------------------------------ TEAM ----------------------------- */

div.intro {
  font-size: 120%;
  font-variation-settings: "wght" 600;
  color: var(--text-high);
  margin-bottom: calc(4rem + 2vw);
}

div.team {
  display: flex;
  flex-direction: column;
  gap: 3rem 10%;
}

  section.member h3 {
    font-variation-settings: "wght" 900;
    color: var(--text-high);
  }
  section.member p.illustration {
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    background: var(--body-bg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0;
  }
  section.member p.illustration:nth-child(even) {
    background-image: url(/img/blob2.svg);
  }
  section.member p.illustration:nth-child(odd) {
    background-image: url(/img/blob.svg);
  }

  section.member p.illustration + p {margin-top: 0;}

    section.member p.illustration img {
      object-fit: cover;
      width: 50vw;
      height: 50vw;
      max-width: 200px;
      max-height: 200px;
      border-radius: 100%;
    }

div.highlight {
  color: var(--text-inv);
  background-color: var(--hot-color);
  padding: 1.5rem;
}

div.highlight p {font-variation-settings: "wght" 600}

.page-body p + p.volunteers {
  margin-top: 1.5rem;
}

p.volunteers {
  position: relative;
  transform: rotate(5deg);
}

  p.volunteers::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--body-text);
    transform: rotate(-5deg);
  }


/* ----------------------------------------------------------------- */
/* -------------------------- SPEAKERS ---------------------------- */

div.speaker-sheet  {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dotted var(--n-light);
}

div.speaker-sheet header {
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: auto auto;
  gap: 0 2rem;
  margin: 0 0 1.5rem;
}

div.speaker-sheet h3 {
  align-self: end;
  font-variation-settings: "wght" 800;
}

p.s-photo {
  box-sizing: border-box;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 160px;
  height: 160px;
  padding: 1rem;
}

div.speaker-sheet:nth-child(even) p.s-photo {
  background: url(../img/blob.svg) no-repeat;
  background-size: contain;
}
div.speaker-sheet:nth-child(odd) p.s-photo {
  background: url(../img/blob2.svg) no-repeat;
  background-size: contain;
}

  p.s-photo img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

ul.social {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 2rem;
}

ul.social img {width: 1em; margin-right: 0.5em;}


/* ----------------------------------------------------------------- */
/* -------------------------- AGENDA ---------------------------- */

section.hour + section.hour {margin-top: 2rem;}

  section.hour h3 {
    color: var(--main-color);
    font-variation-settings: "wght" 800;
    margin-bottom: 0.25em;
  }

  section.hour div.content {
    padding-top: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid var(--hot-light);
  }

  section.hour dl + dl {margin-top: 1rem;}
  section.hour dt {
    color: var(--text-high);
    font-variation-settings: "wght" 600;
  }
  section.hour dd {margin-left: 1rem;}

  section.hour button.modal-trigger {
    font-variation-settings: "wght" 800;
    line-height: 1.35;
    text-align: left;
    color: var(--link-color);
    background-color: var(--body-bg);
    padding: 0.25em 0;
  }

img[alt=Ancre] {width: 1em;}

p.openfeedback {
  font-variation-settings: "wght" 600;
  margin-top: 2rem;
}

/* ----------------------------------------------------------------- */
/* -------------------------- GENERAL ---------------------------- */


/* MODAL */

div.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
div.modal.active {display: block;}

  div.modal div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--n-dark);
  }

  div.modal div.dialog {
    box-sizing: border-box;
    position: relative;
    width: 90vw;
    max-width: 800px;
    background-color: var(--body-bg);
    padding: 2rem;
    margin: 5vh auto;
    z-index: 2010;
  }
    div.modal div.content {
      box-sizing: border-box;
      overflow-y: auto;
      height: 39vh;
      padding: 0.25em 0.5em;
      border: 1px solid var(--n-medium);
    }

  div.modal header {
    margin: 0 5em 2rem 0;
    margin: 0.5rem 0 1rem 0;
  }
  div.modal h4 {
    font-size: 1.2em;
    font-variation-settings: "wght" 800;
    color: var(--main-color);
    background-color: var(--body-bg);
    margin-bottom: 0.5em;
  }
    div.modal header p {font-size: 0.95em;}

  div.modal p {line-height: 1.58;}

  button[data-modal] {
    font-family: var(--stack-b);
    text-align: left;
    color: var(--main-color-d);
    background-color: var(--body-bg);
  }

  button[data-modal]:hover, button[data-modal]:focus {
    outline: 2px dotted var(--hot-color);
  }

  button.bt-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8em;
    text-transform: uppercase;
  }


.stressed {color: var(--main-color);}

p.cfp {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 0.85em;
  font-variant: small-caps;
  font-variation-settings: "wght" 800, "wdth" 100;
  text-align: center;
  color: var(--text-inv);
  background-color: var(--hot-light);
  padding: 0.5rem 0.65rem;
}

p.cfp a {
  color: var(--text-inv);
  background-color: var(--hot-light);
}

#menu dt {
  margin-top: 1em;
  text-decoration: underline;
}
