/* --------------------------------------------------------------------
               	  DEVLILLE 2025
               		Main style-sheet
          				Ge Ricci, 2022/25
-------------------------------------------------------------------- */
@import "vars.css";

/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, aside, article, big, cite, code, del, dfn, em, figure, figcaption,
  footer, header, img, ins, kbd, main, nav, q, s, samp, section, small, strike, strong, sub, sup, tt, var, b,
  u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
  tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
}

/* ------------------------------ DEFAULTS ---------------------------- */


body {
  height: 100%;
  font: 100%/1.3 var(--stack);
  font-variation-settings: "wght" 400;
  color: var(--body-text);
  background-color: var(--body-bg);
  background-image: url(/img/body-bg.svg);
  background-repeat: no-repeat;
  background-position: 50% 2vh;
  background-size: 206%;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 strong {
  display: block;
  width: 70%;
  max-width: 424px;
}
h1 > span {
  display: block;
  font-size: 1.2rem;
  color: var(--text-high);
  background-color: var(--body-bg);
  margin-left: 23%;
}

h1 time::after {content: "/ ";}

h2 {
  font-size: calc(1.8em + 1vw);
  font-variation-settings: "wght" 800;
  line-height: 1.1;
  text-transform: lowercase;
  color: var(--light-cold);
  margin-bottom: 0.8em;
}

h2 strong {
  font-variation-settings: "wght" 800;
  color: var(--light-hot);
}

h2::first-letter {
  font-size: 150%;
}

h3 {
  font-size: calc(1em + 0.9vw);
  font-variation-settings: "wght" 800;
  margin-bottom: 0.8em;
}

p, li, dt, dd {
  font-size: calc(1em + 0.5vw);
}

li p, li li, li dt, li dd {
  font-size: 100%;
}

a {
  color: var(--link-color);
  text-underline-position: under;
}
a:visited {color: var(--text-high);}

:focus-visible {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

strong {
  font-variation-settings: "wght" 700;
  font-weight: normal;
}

img {
  max-width: 100%;
  border: none;
}

button {
  font: 100%/1 var(--stack);
  padding: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

hr {display: none;}

abbr {cursor: help;}


/* ----------------------------------------------------------------- */
/* -------------------------- STRUCTURE ---------------------------- */


header {
  display: grid;
  grid-template-columns: minmax(70px, 560px) auto;
  align-items: center;
  gap: 2rem;
  padding-top: 2vw;
  margin: 1.5rem 5% 0;
  transition: all .3s;
}

body:not(#home) header {
  grid-template-columns: minmax(70px, 265px) auto;
}

header .register {
  display: none;
  margin-top: 1em;
}

header .register a {
  background-color: var(--link-color);
  color: var(--text-inv);
  text-decoration: none;
  padding: 0.1em 1rem 0.25em;
  transition: all 0.3s;
  z-index: 1;
}
header .register a:hover {
  background-color: var(--main-color);
}

header p {font-size: calc(1em + 1vw);}
header span {display: block;}
header time {font-variation-settings: "wght" 800;}

main, aside {margin: 0 5vw;}

footer {
  --footer-bg: #003646;
  --footer-border: rgba(255,255,255,0.5);
  position: relative;
  background-color: var(--footer-bg);
  padding: 2rem 5% 5rem calc(5% + 2.5rem);
  z-index: 1;

  a {
    background-color: var(--footer-bg);
  }

  svg {fill: currentColor;}
}

footer .p-name {
  font-size: 1.2em;
}

  footer .p-name::before {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    left: 5%;
    content: "";
    background-image: url(../img/favicon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
  }

footer .p-summary {
  max-width: 21em;
  margin: 1rem 0 0 2.5rem;
}

.copyright {font-size: 0.8em;}

dl.h-event dd:last-of-type {
  font-size: calc(0.9em + 0.5vw);
  margin: 0.5rem 0 0 0;
}

div.footer-links {margin: 1rem 0 0 0;}

footer ul.editions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 0.5rem;
  list-style-type: none;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--footer-border);
}

footer ul.editions::before {
  flex-basis: 100%;
  content: "Editions précedentes: ";
  font-size: (0.8em + 0.25vw); 
  margin-bottom: 0.25em;
}

ul.links-list li {
  font-size: calc(0.8em + 0.25vw); 
  line-height: 2;
  list-style-position: inside;
}

ul.editions li {
  font-size: calc(0.8em + 0.25vw); 
  line-height: 2;

  a {
    text-decoration: none;
    color: var(--text-inv);
    background-color: var(--link-color);
    padding: 0.2em 0.5em;
  }
  a:hover {
    background-color: var(--light-hot);
  }
  a:visited {
    background-color: rgba(255,255,255,0.25);
  }
}

ul.sm-list {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style-type: none;
  margin: 2rem 0;
}
  ul.sm-list li {width: 25px;}


/* ----------------------------------------------------------------- */
/* -------------------------- FORMS ---------------------------- */

input {
  font: 100%/1 var(--stack);
  padding: 0.25em 0.5em;
}

label {
  font-variation-settings: "wght" 700;
}

input[type=submit], input[type=reset] {
  font-size: 100%;
  font-variation-settings: "wght" 800;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.35em;
  cursor: pointer;
}

input[type=submit] {
  color: var(--text-inv);
  background-color: var(--hot-color);
}

input[type=submit]:hover {
  background-color: var(--main-color);
}


/* ----------------------------------------------------------------- */
/* -------------------------- NAVIGATION ---------------------------- */

.no-display {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -5000px;
}

.k-skip {
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

.k-skip a {
  display: block;
  position: absolute;
  overflow: hidden;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}
.k-skip a:focus {position: static; width: auto; height: auto;}

nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: var(--hot-color);
  background: var(--body-bg-dark);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 66px);
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

nav li {
	font-size: 0.75em;
	font-variation-settings: "wght" 600, "wdth" 100;
	padding: 0.75em 0;
}

nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 0.55em 1em 0.4em 1em;
}
nav svg {
  flex: 0 0 20px;
  fill: currentColor;
}

nav a:visited {
  color: var(--hot-color);
  background: var(--n-dark);
}

nav a:hover, nav a:focus, nav a[aria-current] {
  background-color: rgba(255,255,255,0.2);
}


/* ----------------------------------------------------------------- */
/* -------------------------- HOME ---------------------------- */

#home header.with-cfp, #home header.with-cfp.active {
  padding-top: 3rem;
}

#home header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  background-color: var(--body-bg-dark);
  padding: 1rem 5%;
  margin: 0;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
  transition: all .3s;
  z-index: 10;
}

  #home header.active img {width: 140px;}
  
  #home header.active h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #home header.active h1 strong {width: 60%;}
  #home header.active h1 span {margin-left: 0;}
  #home header.active ~ #wrapper {margin-top: 15vh;}

section.news {
  background-color: rgba(255,255,255,0.05);
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 5px 5px var(--n-dark);
}
  section.news h3 {
    font-variation-settings: "wght" 800,"wdth" 100;
  }

  section.news p {max-width: 35em; line-height: 1.5;}
  section.news p + p  {margin-top: 0.8em;}

  section.news article + article {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px dotted var(--text-high);
  }

aside {
  margin: 0 5vw 6rem;
}

aside div.be-partner {
  color: var(--n-dark);
  background: rgba(255,255,255,0.7);
  padding:  calc(1rem + 0.5vw)calc(1.5rem + 0.5vw) calc(1.5rem + 0.5vw);
  margin: 0 0 4rem;
}

  aside div.be-partner h2 {
    color: var(--main-dark);
  }

  aside div.be-partner p {max-width: 25em; padding-top: 0.5rem;}
  aside div.be-partner a, aside div.be-partner a:visited {
    color: var(--n-dark);
    background-color: transparent;
  }

  div.sponsors {
    padding-top: 0.5rem;
    margin-top: 1rem;
  }

  div.sponsors h3 {
    font-variation-settings: "wght" 800;
    color: var(--hot-color);
    margin-bottom: 1rem;
    border-top: 5px dotted var(--hot-color);
  }
  div.sponsors.platinium h3 {
    color: var(--body-text);
    border-color: var(--body-text);
  }
  div.sponsors.silver h3 {
    color: var(--main-color);
    border-color: var(--main-color);
  }
  div.sponsors.bronze h3 {
    color: var(--hot-light);
    border-color: var(--hot-light);
  }
  div.sponsors.partner h3 {
    color: var(--hot-color);
    border-color: var(--hot-color);
  }
  div.sponsors.community h3 {
    color: var(--main-color-h);
    border-color: var(--main-color-h);
  }

  div.sponsors ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
  }

  .sponsor {
    box-sizing: border-box;
    min-width: 80px;
    background-color: var(--text-high);
    padding: 0.5rem;
    margin: 0 auto 2rem auto;
    border-radius: 100%;
  }
  .sponsor a {
      margin: 1rem;
      width: 100px;
      height: 100px;
      display: flex;
    }

    .sponsor img {
      margin: auto;
    }

.sponsor a:focus, aside div.be-partner a:focus, p.cfp a:focus {
  outline-color: var(--body-bg);
}


p.register {
  font-variation-settings: "wght" 800;
  margin-top: 0.8em;
}

div.presentation {
  box-sizing: border-box;
  max-width: 54em;
  line-height: 1.5;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 5vw 5.5vw;
  margin: 7vw 0 5vw;
}

  div.presentation p {font-size: calc(1.2rem + 1vw);}
  div.presentation .stressed.back {
    position: relative;
    display: inline-block;
  }
  div.presentation .stressed.back::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-top: 3px solid var(--hot-color);
    border-left: 4px solid var(--hot-color);
    border-bottom: 6px solid var(--hot-color);
    border-radius: 100%;
    transform: rotate(-5deg);
    z-index: -1;
  }

div.stats {margin: calc(3rem + 1vw) 0;}

  div.stats ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    list-style-type: none;
  }
  div.stats strong {
    display: block;
    font-size: 250%;
  }

  div.stats li {
    overflow: hidden;
    position: relative;
    width: clamp(8em, 42vw, 10em);
    height: clamp(8em, 42vw, 10em);
    align-content: center;
    text-align: center;
    color: var(--body-bg);
    margin: auto;
    transform: rotate(0);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }

  div.stats li:nth-child(1) {
    background-color: var(--main-light);
    animation-name: slideStats1;
    animation-delay: 4.9s;
  }
  div.stats li:nth-child(2) {
    background-color: var(--hot-light);
    transform: rotate(-1deg);
    animation-name: slideStats2;
    animation-delay: 5s;
  }
  div.stats li:nth-child(3) {
    background-color: var(--light-cold);
    transform: rotate(-6deg);    
    animation-name: slideStats3;
    animation-delay: 5.1s;
  }
  div.stats li:nth-child(4) {
    background-color:  var(--light-hot);
    transform: rotate(1deg);
    animation-name: slideStats4;
    animation-delay: 5.2s;
  }

  @keyframes slideStats1 {
    0% {transform: rotate(0);}
    50% {transform: rotate(2deg);}
    70% {transform: rotate(1deg);}
    100% {transform: rotate(2deg);}
  }
  @keyframes slideStats2 {    
    0% {transform: rotate(0);}
    50% {transform: rotate(-2deg);}
    70% {transform: rotate(1deg);}
    100% {transform: rotate(-1deg);}
  }
  @keyframes slideStats3 {
    0% {transform: rotate(0);}
    50% {transform: rotate(-6deg);}
    70% {transform: rotate(-2deg);}
    100% {transform: rotate(-6deg);}
  }
  @keyframes slideStats4 {
    0% {transform: rotate(0);}
    50% {transform: rotate(2deg);}
    70% {transform: rotate(1deg);}
    100% {transform: rotate(1deg);}
  }

  /* div.stats li:nth-child(1) {
    animation-name: slideStats1;
    z-index: 4;
  }
  div.stats li:nth-child(2) {
    margin-top: -5rem;
    animation-name: slideStats2;
    z-index: 1;
  }
  div.stats li:nth-child(3) {
    margin-top: -10rem;
    animation-name: slideStats3;
    z-index: 2;
  }
  div.stats li:nth-child(4) {
    margin-top: -15rem;
    animation-name: slideStats4;
    z-index: 3;
  } */

div.decor {
  padding: 0.5rem 1.5rem 1.5rem;
  margin: 0 0 4rem;
  border: 1px solid rgba(255,255,255,0.5);
  z-index: 1;
}
  div.decor h2 strong {
    display: block;
    transition: all .5s;
  }

  div.decor .content {
    position: relative;
  }

  div.decor .content div {
    position: relative;
  }

p.illustration {margin-bottom: 1rem;}

div.decor.venue div.content::after {
  content: "";
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  top: -7px;
  right: 15px;
  background-color: var(--light-hot);
  transition: all .5s;
}

div.decor p {line-height: 1.45;}

div.decor p:not(.illustration) {
  font-size: calc(0.8em + 1vw);
}
p.read-more {margin-top: 1rem;}


/* ----------------------------------------------------------------- */
/* -------------------------- ARTICLE ---------------------------- */


.page-body {
  background-color: rgba(0,0,0,0.23);
  backdrop-filter: blur(5px);
  padding: calc(1rem + 1vw) calc(1.5rem + 1vw);
  margin: 2rem 0;
  transition: all 0.3s;
}
.page-body.list {max-width: 100%;}

  .page-body p, .page-body li {
    max-width: 45rem;
    line-height: calc(2.1ch + .15vw);
  }

  .page-body p + p, .page-body li + li {
    margin-top: 0.8em;
  }

  .page-body ul {margin: 1em;}

div.faq + div.faq {
  padding-top: calc(2rem + 1vw);
  margin-top: calc(2rem + 1vw);
  border-top: 2px solid rgba(255,255,255,0.25);
}

div.faq h3 {color: var(--hot-light);}

article.h-entry p + h3 {
  margin-top: 1em;
}
article.h-entry h3 {
  font-variation-settings: "wght" 800;
  color: var(--hot-light);
}

article.h-entry div.group {
  margin-top: calc(2rem + 2vw);
}

article.h-entry div.group.typography {
  padding: calc(1rem + 2vw) 0;
  border-top: 10px solid var(--hot-light);
  border-bottom: 10px solid var(--hot-light);
}

ul.thumbs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin: 1rem 0 0;
}

  ul.thumbs li {
    font-size: 0.9em;
    text-align: center;
    padding: 1rem;
  }
  
  ul.thumbs a {
    box-sizing: border-box;
    display: block; 
    padding: 1rem 2rem;
  }
  ul.thumbs a:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 2l5 5v14.008a.993.993 0 0 1-.993.992H3.993A1 1 0 0 1 3 21.008V2.992C3 2.444 3.445 2 3.993 2H16zm-3 10V8h-2v4H8l4 4 4-4h-3z' style='fill:%23EF7918' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 15px right;
  }

  ul.palette {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 2rem 0 0;
  }

  ul.palette li {
    font-size: 0.8em;
    text-align: center;
  }
  ul.palette li + li {margin-top: 0;}

  ul.palette li::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    margin: 0 auto 1rem;
    border-radius: 50px;
  }

  ul.palette li:nth-child(1)::before {
    background-color: var(--body-bg-dark);
    border: 1px solid currentColor;
  }
  ul.palette li:nth-child(2)::before {
    background-color: var(--body-bg);
    border: 1px solid currentColor;
  }
  ul.palette li:nth-child(3)::before {
    background-color: var(--main-color);
  }
  ul.palette li:nth-child(4)::before {
    background-color: var(--main-light);
  }
  ul.palette li:nth-child(5)::before {
    background-color: var(--hot-color);
  }
  ul.palette li:nth-child(6)::before {
    background-color: var(--hot-light);
  }
  ul.palette li:nth-child(7)::before {
    background-color: var(--light-hot);
  }
  ul.palette li:nth-child(8)::before {
    background-color: var(--light-cold);
  }


/* ----------------------------------------------------------------- */
/* ------------------------------ TEAM ----------------------------- */

div.intro {
  font-size: 120%;
  font-variation-settings: "wght" 600;
  color: var(--text-high);
  margin-bottom: calc(4rem + 2vw);
}

div.team {
  display: flex;
  flex-direction: column;
  gap: 3rem 10%;
}

  section.member h3 {
    font-variation-settings: "wght" 900;
    color: var(--text-high);
  }
  section.member p.illustration {
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    background: var(--body-bg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0;
  }

  section.member div.hgroup {
    position: relative;
  }
  section.member div.hgroup::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 45vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    background-color: var(--light-cold);
    margin: 1rem 0;
    transform: rotate(5deg);
    z-index: 1;
  }

  section.member p.illustration + p {margin-top: 0;}
  
  section.member p {
    font-size: clamp(1em, 1.1em, 1.3em);
  }

    section.member p.illustration img {
      position: relative;
      object-fit: cover;
      width: 50vw;
      height: 50vw;
      max-width: 200px;
      max-height: 200px;
      z-index: 2;
    }

div.highlight {
  color: var(--text-inv);
  background-color: var(--light-cold);
  padding: 1.5rem;
}

div.highlight p {font-variation-settings: "wght" 600}

.page-body p + p.volunteers {
  margin-top: 1.5rem;
}

p.volunteers {
  position: relative;
  transform: rotate(5deg);
}

  p.volunteers::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--body-text);
    transform: rotate(-5deg);
  }


/* ----------------------------------------------------------------- */
/* -------------------------- SPEAKERS ---------------------------- */


div.all-speakers ul {
  display: flex;
  flex-direction: column;
  gap: calc(1rem + 1vw);
  list-style-type: none;
  margin: 0;
}

div.all-speakers li {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: minmax(30px, 117px) auto;
  grid-template-rows: auto auto;
  gap: 1rem 2rem;
  max-width: 635px;
  background-color: rgba(255,255,255,0.1);
  padding: 1.5rem;
  border-bottom-right-radius: 3rem;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.9);
}

div.all-speakers li a {text-decoration: none;}
div.all-speakers li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--body-text);
}

div.all-speakers li p {
  line-height: 1.45;
}
div.all-speakers li p:first-of-type {
  align-self: end;
  font-size: 120%;
  font-variation-settings: "wght" 800;
}
div.all-speakers li p:nth-child(2) {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M21 3c.552 0 1 .448 1 1v14c0 .552-.448 1-1 1H6.455L2 22.5V4c0-.552.448-1 1-1h18zm-1 2H4v13.385L5.763 17H20V5zm-9.485 2.412l.447.688c-1.668.903-1.639 2.352-1.639 2.664.155-.02.318-.024.48-.009.902.084 1.613.825 1.613 1.745 0 .966-.784 1.75-1.75 1.75-.537 0-1.05-.245-1.374-.59-.515-.546-.792-1.16-.792-2.155 0-1.75 1.228-3.318 3.015-4.093zm5 0l.447.688c-1.668.903-1.639 2.352-1.639 2.664.155-.02.318-.024.48-.009.902.084 1.613.825 1.613 1.745 0 .966-.784 1.75-1.75 1.75-.537 0-1.05-.245-1.374-.59-.515-.546-.792-1.16-.792-2.155 0-1.75 1.228-3.318 3.015-4.093z' style='fill: %23fff'/%3E%3C/svg%3E");
  padding-left: 30px;
}


div.all-speakers em {
  display: block;
}

div.all-speakers p.s-photo {
  position: relative;
  box-sizing: border-box;
  grid-row-start: 1;
  grid-row-end: -1;
  align-self: center;
}

.page-body div.all-speakers p + p {margin-top: 0;}

p.s-photo img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    vertical-align: bottom;
    z-index: 2;
    background-color: white;
    aspect-ratio: 1;
  }
  
  div.all-speakers p.s-photo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 117px;
    max-height: 117px;
    top: 5px;
    left: -5px;
    background-color: var(--hot-light);
    border-radius: 100%;
    z-index: 1;
  }

ul.social {
  list-style-type: none;
}

ul.social li {
  font-size: 90%;
  line-height: 1.3;
  text-align: center;
}
ul.social li + li {
  margin-top: 1rem;
}

ul.social strong {
  display: block;
  font-size: 90%;
}

ul.social img {width: 1em; margin-right: 0.5em;}

div.speaker-sheet {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

div.speaker {
  order: 1;
}

div.speaker-data-block {
  order: 3;
}

div.speaker-data {margin-bottom: 2.5rem;}


div.speaker-data .sponsor {
  display: inline-block;
}

div.talks {
  order: 2;
}

div.talk {
  color: var(--text-high);;
  background-color: rgba(255,255,255,0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

div.talk h3 {
  font-variation-settings: "wght" 800;
  color: var(--text-high);
  background-repeat: no-repeat;
  background-position-y: 0.2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M21 3c.552 0 1 .448 1 1v14c0 .552-.448 1-1 1H6.455L2 22.5V4c0-.552.448-1 1-1h18zm-1 2H4v13.385L5.763 17H20V5zm-9.485 2.412l.447.688c-1.668.903-1.639 2.352-1.639 2.664.155-.02.318-.024.48-.009.902.084 1.613.825 1.613 1.745 0 .966-.784 1.75-1.75 1.75-.537 0-1.05-.245-1.374-.59-.515-.546-.792-1.16-.792-2.155 0-1.75 1.228-3.318 3.015-4.093zm5 0l.447.688c-1.668.903-1.639 2.352-1.639 2.664.155-.02.318-.024.48-.009.902.084 1.613.825 1.613 1.745 0 .966-.784 1.75-1.75 1.75-.537 0-1.05-.245-1.374-.59-.515-.546-.792-1.16-.792-2.155 0-1.75 1.228-3.318 3.015-4.093z' style='fill: %23fff'/%3E%3C/svg%3E");
  padding-left: 30px;
  margin-bottom: calc(1em + 0.5vw);
}

div.speaker-sheet p.s-photo {
  max-width: 160px;
  min-width: 90px;
  margin: 0 auto 1rem;
}

div.talk-links {
  padding-top: 0.5rem;
  margin-top: 2rem;
  border-top: 1px dotted var(--body-text);
}
div.talk-links h4 {
  font-size: 1.3em;
}

div.talk-links ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 1rem 0 0;
}

div.talk-links li {
  position: relative;
  text-align: center;
  background-color: rgba(239, 121, 24,0.1);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 150px 1rem 1rem;
}

div.talk-links li:first-child {
  background-image: url(/img/video.svg);
}
div.talk-links li:last-child {
  background-image: url(/img/slides.svg);
}
div.talk-links a {
  text-decoration: none;
}
div.talk-links a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
div.talk-links li:hover {
  background-color: rgba(255,255,255,0.1);
}


/* ----------------------------------------------------------------- */
/* -------------------------- AGENDA ---------------------------- */

/* Tabs */

ul.tabs {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  box-shadow: 0 1px 0 0 var(--body-text);
}

button[role=tab] {
  font-variation-settings: "wght" 800;
  color: var(--body-text);
  background-color: var(--body-bg);
  padding: 0.5em 1em;
}

button[role=tab]:hover, button[role=tab][aria-selected=true] {
  color: var(--link-color);
  box-shadow: 0 5px 0 0 var(--link-color);
}


section.hour + section.hour {margin-top: 2rem;}

  section.hour h3 {
    color: var(--main-color);
    font-variation-settings: "wght" 800;
    margin-bottom: 0.25em;
  }

  section.hour div.content {
    background-color: #252525;
    padding: 1.5rem;
    margin-left: 1rem;
    border-left: 1px solid var(--hot-light);
  }

  section.hour dl {position: relative;}
  section.hour dl + dl {margin-top: 2rem;}
  section.hour dt {
    color: var(--text-high);
    font-variation-settings: "wght" 600;
  }
  section.hour dd {
    margin-left: 1rem;
    margin: 0.5em 0 0 1rem;
  }

  section.hour div.content a, section.hour div.content a:visited {
    font-variation-settings: "wght" 800;
    line-height: 1.35;
    text-align: left;
    text-decoration: none;
    color: var(--link-color);
    background-color: #252525;
  }
  section.hour a:visited {color: #D2660F;}

  section.hour div.content a::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

img[alt=Ancre] {width: 1em;}

p.openfeedback {
  font-variation-settings: "wght" 600;
  padding-top: 0.5rem;
  border-top: 1px dotted var(--body-text);
}

.page-body p + p.openfeedback {margin-top: 2rem;}

/* ----------------------------------------------------------------- */
/* -------------------------- GENERAL ---------------------------- */

.stressed {color: var(--text-high);}

div.cfp path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

div.cfp {
  box-sizing: border-box;
  position: relative;
  max-width: 54em;
  text-align: center;
  background-color: var(--body-bg-dark);
  padding: 1.5rem;
  margin-top: -4vw;
  transition: all 0.3s;
}

div.cfp::before, div.cfp::after {
  display: block;
  content: "";
  position: absolute;
  width: 6px;
  height: 26px;
  top: -15px;
  line-height: 1.45;
  background-color: var(--body-text);
  border-radius: 6px;
}

div.cfp::before {
  left: 25px;
}
div.cfp::after {
  right: 25px;
}

div.cfp a {
  display: block;
  font-variation-settings: "wght" 800;
  color: var(--link-color);
  background-color: var(--body-bg-dark);
}

#menu dt {
  margin-top: 1em;
  text-decoration: underline;
}


/* MAILCHIMP */

#newsletter p {font-size: 1.2em;}

p.email {
  display: flex;
  align-items: baseline;
  gap: 0 0.5rem;
  flex-wrap: wrap;
}

#mc_embed_signup form {
  padding-bottom: 1rem;
  margin: 1.5rem 0 0 !important;
  border-top: 1px solid var(--footer-border);
  border-bottom: 1px solid var(--footer-border);
}
#mc_embed_signup .foot {
  display: block !important;
}

#mc_embed_signup input:not([type=submit]) {
  width: 85%;
  max-width: 17em;
}

#mc-embedded-subscribe {
  margin-left: 0 !important;
  border: none !important;
}

#mc_embed_signup .button {
  font-size: 100% !important;
}

p.mce-logo {
  width: 100px;
  margin-left: auto;
  opacity: 0.8;
}