/* --------------------------------------------------------------------
               	DEVFEST LILLE 2019
               		Main style-sheet
          				Ge Ricci, 2018
-------------------------------------------------------------------- */
@import "vars.css";

/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, figure, figcaption,
  img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
  u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
  tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
}

/* ------------------------------ DEFAULTS ---------------------------- */
@font-face {
  font-family: "aleobold";
  src: url("aleo-bold-webfont.woff2") format("woff2"),
    url("aleo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aleolight";
  src: url("aleo-light-webfont.woff2") format("woff2"),
    url("aleo-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aleoregular";
  src: url("aleo-regular-webfont.woff2") format("woff2"),
    url("aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  font: 100%/1.3 var(--stack);
  color: #000;
  background-color: var(--main-color);
  background-image: url(../img/body-bg.png);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  position: relative;
  max-width: 500px;
  font: calc(0.8em + 0.7vmax)/1.2 var(--stack-b);
  margin-right: 9vw;
  transition: all 0.5s;
}
h1 img {
  position: relative;
  transition: all 0.5s;
  z-index: 2;
}

h1 > span {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 9vw;
  z-index: 1;
  transition: all 0.2s;
}

h1 time {
  display: block;
  text-transform: uppercase;
}

h2 {
  font: calc(1em + 0.9vmax)/1.2 var(--stack-b);
  margin-bottom: 0.8em;
}
h3 {
  font: calc(0.75em + 0.9vmax)/1.2 var(--stack-b);;
  margin-bottom: 0.8em;
}

p, li, dt, dd {
  font-size: 1.1em;
}

li p, li li, li dt, li dd {
  font-size: 100%;
}

a {
  color: var(--hot-color);
}
a:visited {
  color: var(--body-text);
}

strong {
  font-family: var(--stack-b);
  font-weight: normal;
}
em {
  font-family: var(--stack-i);
  font-style: normal;
}

img {
  max-width: 100%;
  border: none;
}

button {
  font: 100%/1 var(--stack);
  padding: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

hr {
  display: none;
}

/* ----------------------------------------------------------------- */
/* -------------------------- STRUCTURE ---------------------------- */

#container {
  overflow: hidden;
  margin: 0 auto;
}

#inner main {
  background-color: var(--n-light);
  padding: 9vw;
}

/* ----------------- HEADER --------------- */

#container > header {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

p.cfp {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: -50px;
  font-family: var(--stack-b);
  text-align: center;
  color: var(--body-text);
  background-color: var(--hot-light);
  padding: 0.3rem 2rem;
  transform: rotate(45deg);
  z-index: 5;
}

p.cfp a {
  display: block;
  text-decoration: none;
  color: var(--n-dark);
  background-color: var(--hot-light);
  padding: 0.3rem 2rem;
  border-top: 1px dotted var(--n-dark);
  border-bottom: 1px dotted var(--n-dark);
}

/* ---------------- ASIDE -------------- */

aside {
  position: relative;
  background-color: var(--n-light);
  padding: 9vw;
  margin-top: 2rem;
  z-index: 2;
}
aside h2 {margin-right: 20vw;}
aside .content.filled {}

aside::before {
  display: block;
  position: absolute;
  content: "";
  width: 200px;
  height: 150px;
  top: -67px;
  right: 0;
  background-image: url(../img/partners.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*aside .read-more a {
		color: var(--text-inv);
		background-color: var(--n-dark);
		background-image: url("data:image/svg+xml,%3Csvg id='Calque_2' data-name='Calque 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 13.29'%3E%3Ctitle%3Ereadmore%3C/title%3E%3Cpath d='M11.06,1.72a.77.77,0,0,0,1-.73c-.24-2.15-3.7-.45-3.25,1.8.63,3.2,6.09,3.49,8.54,3.77-1.9.73-8,1.38-7.91,4.8.07,1.69,3.81,2.81,3.8,1,0-.89-1.47-.88-1.8-.25C9.11,8.64,18.31,8,19,6.58c.18-.39-10-2.11-8.77-5.4.26-.68.73.17.72.48' style='fill: %23FFF;' /%3E%3Cpath d='M12.24,7a13.08,13.08,0,0,1-1.51.32c-.51.09-1,.16-1.52.22s-1,.08-1.53.1l-1.54,0-1.54,0H3.07c-1,0-2,0-3.07-.07V7.56l3.06-.19,1.53-.11,1.52-.11L7.64,7c.5,0,1-.09,1.52-.11l1.53,0c.52,0,1,0,1.55.06Z' style='fill: %23FFF;' /%3E%3C/svg%3E");
	}*/

/* ---------------- FOOTER -------------- */

footer {
  color: var(--text-inv);
  background-color: var(--main-color);
  background-image: url(../img/body-bg.png);
  padding: 9vw;
}

footer dl {
  margin-bottom: 2rem;
}
footer dt {
  font: 1.2em var(--stack-b);
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

footer dd:last-of-type {
  font-family: var(--stack-l);
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 1rem;
}

footer a, footer a:visited {
  color: var(--text-inv);
  background-color: transparent;
}

ul.links-list li {
  list-style-type: none;
  font-size: 0.8em;
  text-align: right;
  margin-bottom: 1rem;
}

p.copyright {
  min-height: 50px;
  font-size: 0.7em;
  text-align: center;
  background: url(../img/dotted.svg) center no-repeat;
  background-size: contain;
  padding: 2rem 0 1rem;
  margin: 1rem 0 3rem;
}

li.language a, li.language a:visited {
  display: block;
  text-decoration: none;
  color: var(--main-color-d);
  background-color: var(--text-inv);
  padding: 0.3em 0.5em;
}
li.language a:hover, li.language a:focus {
  color: var(--text-inv);
  background-color: var(--hot-color);
}

/* --- Social media ---  */
.sm-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.sm-list li + li {
  margin-left: 1em;
}
.sm-list a {
  display: block;
  width: 25px;
  height: 25px;
}
.sm-list a:hover {
  background-color: transparent;
  animation: shake 1s;
}

/* -------------------------------------------------------------------- */
/* -------------------------- NAVIGATION ------------------------------- */

.k-skip {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -5000px;
}

nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: var(--text-inv);
  background: var(--n-dark);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}
nav li {
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 1em;
}

nav a, nav a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text-inv);
  background: var(--n-dark);
  padding: 0.5em 1em;
  border-bottom: 2px dotted var(--n-dark);
}
nav a:hover, nav a:focus, nav a[aria-current] {
  border-color: var(--text-inv);
}


/* -------------------------------------------------------------------- */
/* -------------------------- GENERAL ------------------------------- */

article .e-content {max-width: 45em;}
article p {
  line-height: 1.58;
  margin-bottom: 0.8em;
}

.read-more {
  text-indent: -2.5rem;
  margin-top: 1rem;
  margin-left: 2.5rem;
}
.read-more a {
  font-family: var(--stack-b);
  text-decoration: none;
  color: var(--body-text);
  background-image: url("data:image/svg+xml,%3Csvg id='Calque_2' data-name='Calque 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 13.29'%3E%3Ctitle%3Ereadmore%3C/title%3E%3Cpath d='M11.06,1.72a.77.77,0,0,0,1-.73c-.24-2.15-3.7-.45-3.25,1.8.63,3.2,6.09,3.49,8.54,3.77-1.9.73-8,1.38-7.91,4.8.07,1.69,3.81,2.81,3.8,1,0-.89-1.47-.88-1.8-.25C9.11,8.64,18.31,8,19,6.58c.18-.39-10-2.11-8.77-5.4.26-.68.73.17.72.48'/%3E%3Cpath d='M12.24,7a13.08,13.08,0,0,1-1.51.32c-.51.09-1,.16-1.52.22s-1,.08-1.53.1l-1.54,0-1.54,0H3.07c-1,0-2,0-3.07-.07V7.56l3.06-.19,1.53-.11,1.52-.11L7.64,7c.5,0,1-.09,1.52-.11l1.53,0c.52,0,1,0,1.55.06Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 2.5rem;
}

#inner h2 {
  font-size: calc(1.5em + 0.9vmax);
  color: var(--main-color);
  margin-bottom: 2em;
}

div.faq:not(:last-of-type) {
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 5px dashed var(--main-color-h);
}

article ul {margin: 2vw;}

/* MODAL */

div.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
div.modal.active {display: block;}

  div.modal div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 119, 62,0.8);
  }

  div.modal div.dialog {
    box-sizing: border-box;
    position: relative;
    width: 90vw;
    height: 90vh;
    background-color: var(--body-bg);
    padding: 2rem;
    margin: 5vh 5vw;
    z-index: 2010;
  }
    div.modal div.content {
      overflow-y: auto;
      height: 60vh;
    }
    div.modal .openfeedback {
      margin-top: 1em;
    }

  div.modal header {
    margin: 0 5em 2rem 0;
  }
  div.modal h4 {
    font: 1.4em var(--stack-b);
    color: var(--main-color-d);
    background-color: var(--body-bg);
    margin-bottom: 0.5em;
  }
    div.modal header p {font-size: 0.95em;}

  div.modal p {line-height: 1.45;}

  button[data-modal] {
    font-family: var(--stack-b);
    text-align: left;
    color: var(--main-color-d);
    background-color: var(--body-bg);
  }

  button[data-modal]:hover, button[data-modal]:focus {
    outline: 2px dotted var(--hot-color);
  }

  button.bt-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8em;
    text-transform: uppercase;
  }


/* -------------------------------------------------------------------- */
/* -------------------------- HOME ------------------------------- */
div.presentation {
  position: relative;
  line-height: 1.45;
  background: var(--main-color-light);
  padding: 5vh 5vw;
  margin: 0 9vw 5vh 9vw;
  border: 3px solid var(--main-color-h);
}

div.presentation::before {
  content: "";
  display: block;
  width: 82px;
  height: 35px;
  background: url(../img/illum.svg) no-repeat;
  margin: 0 auto;
}
div.presentation p:first-of-type {
  position: relative;
  top: 1rem;
  text-align: center;
  font-size: calc(0.9em + 0.7vmax);
}

p.register {
  position: relative;
  top: 5rem;
  left: -1rem;
  min-width: 15em;
  font-family: var(--stack-b);
  background-size: cover;
}
p.register a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-inv);
  background: transparent url(../img/bt-register.svg) left no-repeat;
  background-size: contain;
  padding: 1rem 1.5em 1.5em 1em;
  transform: rotate(-1deg);
}

div.stats {
  background-color: var(--n-light);
  padding: 9vw;
}
div.stats h2 {}
div.stats ul {
  list-style-type: none;
  margin: 1rem 0 0;
}
div.stats li {
  font-size: 1.2em;
  line-height: 1.58;
}

div.stats strong {
  display: inline-block;
  width: 3em;
  text-align: right;
  color: var(--hot-color);
}

div.decor {
  background-color: var(--main-color-light);
  padding: 9vw;
  margin: 5vh 9vw;
}

div.decor .illustration {
  margin-bottom: 1rem;
}

div.all-speakers {
  display: flex;
  flex-wrap: wrap;
}

div.speaker-sheet {
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: var(--main-color-light);
  padding: 1rem 1.5rem 1rem 2rem;
  margin: 1rem;
  border-right: 10px dotted var(--n-light);
}

div.speaker-sheet header {min-height: 6.5rem; padding-left: 90px;}
div.speaker-sheet h3 {line-height: 1.1; margin-bottom: 0;}
div.speaker-sheet .s-photo {
  position: absolute;
  overflow: hidden;
  top: -16px;
  left: -16px;
  width: 95px;
  border-image: url(../img/diamond.svg) 34 / 11px round;
  padding: 11px;
  transform: rotate(-5deg);
}
div.speaker-sheet::before {
  display: block;
  content: "";
  position: absolute;
  top: 46px;
  left: 67px;
  width: 115px;
  height: 50px;
  background: url(../img/stamp.svg) 0 0 no-repeat;
  border-radius: 40px;
  opacity: 0.5;
  z-index: 3;
}
  div.speaker-sheet .s-photo img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    vertical-align: bottom;
  }

div.speaker-sheet::after {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background: var(--n-light);
  border-radius: 40px;
  position: absolute;
  bottom: -15px;
  left: -15px;
}

div.speaker-sheet .content {margin-bottom: 1.5rem;}
div.speaker-sheet ul.social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: auto 0 0;
}

div.speaker-sheet ul.social li {font-size: 0.9em;}
div.speaker-sheet ul.social img {vertical-align: bottom;}
div.speaker-sheet ul.social a {color: var(--body-text);}

div.content.filled {margin-top: 4rem;}
div.content.filled h3 {margin-bottom: 2rem;}

div.sponsors {
  padding-top: 0.5rem;
  margin-top: 1rem;
  border-top: 5px dotted var(--main-color);
}
div.sponsors h4 {
  font-family: var(--stack-b);
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--n-light);
  margin-bottom: 1rem;
}

div.sponsors ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

div.sponsors li {
  flex-basis: 15%;
  min-width: 80px;
  margin: 0 2rem 2rem 0;
}


/* -------------- AGENDA ------------- */

p.decor {display: none;}

div.agenda {position: relative;}

section.hour {
	display: flex;
	position: relative;
	padding: 0.5rem 0 1em;
	margin: 0.5rem 0;
	border-bottom: 1px solid var(--main-color);
}

	section.hour h3 {
		flex-basis: 3em;
		line-height: 1;
		text-align: right;
		margin: 0 1rem 0 0;
	}

	section.hour .content {flex: 1;}

	section.hour p {
		width: 100%;
		line-height: 0.5;
		text-transform: uppercase;
		background-color: #F4E55880;
		background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #EFEFEF 10px, #EFEFEF 20px);
		padding-top: 0.3em;
		margin-top: 0.3em;
	}

section.hour dl {
	display: flex;
	flex-direction: column;
}
	section.hour dl + dl {
    padding-top: 1em;
    margin-top: 1em;
    border-top: 5px dotted var(--main-color-h);
	}
	section.hour dt {
		font: 0.9em var(--stack-b);
    letter-spacing: 0.9px;
		text-transform: uppercase;
		margin: 0.45em 0 0.5em;
	}

	section.hour dd:first-of-type {
		font: 1.5em/1.2 var(--stack-b);
		color: var(--main-color);
		background-color: var(--n-light);
	}
	section.hour dd:nth-child(3) {
		font-size: 0.95em;
		line-height: 1.45;
		color: var(--n-dark);
		background-color: var(--n-light);
		margin-bottom: 0.5em;
	}

	section.hour dd:last-of-type {
		margin-top: auto;
	}

	section.hour dd a {
		color: var(--main-dark);
		background-color: var(--n-light);
	}

  section.hour div.content p {
    height: 75%;
    padding: 0.3em;
    margin: 0;
  }

ul.legend {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	text-transform: uppercase;
	margin: 2rem 0;
}
	ul.legend li {
		display: flex;
    flex: 1;
		font-size: 0.7em;
		margin-right: 2rem;
		margin-bottom: 0.3em;
	}
		ul.legend li:last-of-type {margin-right: 0;}
		ul.legend img {margin-right: 0.5em;}

button.fav {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	box-shadow: 1px 1px 2px rgba(0,0,0,.7);
}
button.fav:hover, button.fav:focus {
	color: var(--text-inv);
	background-color: var(--hot-color);
	box-shadow: none;
}
