/* --------------------------------------------------------------------
               	DEVFEST LILLE 2019
               		Media Queries
          				Ge Ricci, 2018
-------------------------------------------------------------------- */

@media screen and (min-width: 750px) {
  p, li, dt, dd {font-size: 1.3em; line-height: 1.45;}
  div.stats li {
    font-size: 2em;
    line-height: 1.58;
    margin-left: 35%;
  }
  p.register {
    position: relative;
    top: 4rem;
    z-index: 10;
  }

  #inner header {display: block;}
  #inner h1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #inner h1 img {margin: 5vw 10% 5vw 5%;}
  #inner h1 > span {
    position: static;
    font-size: 1.5em;
    margin: 0 0 5vw;
  }
}

@media screen and (min-width: 950px) {
  #home #container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5% 0 0;
  }
  #inner h1 img {max-width: 300px;}
  #inner h1 > span {
    text-align: right;
    margin-right: 5%;
  }
  h1 {flex-basis: 55%;}
    h1 > span {
      position: relative;
      top: -5vmax;
      left: 4rem;
    }
  div.presentation {
    box-sizing: border-box;
    flex-basis: 40%;
    background: transparent;
    padding: 0 5%;
    margin: 0;
    border: none;
  }
  div.presentation::before {content: none;}
  div.presentation p:first-of-type {
    font-size: 2em;
    text-align: left;
    color: var(--text-inv);
  }
  p.register {font-size: 2em;}
  nav {
    position: relative;
    width: 90%;
    background-color: var(--main-color-h);
    margin: -1rem 5% 2rem 5%;
  }
  nav ul {justify-content: center;}
  nav li {
    font-size: 1.5em;
    font-family: var(--stack-b);
    text-transform: none;
    padding: 0.5rem;
  }
  nav a, nav a:visited {
    color: var(--body-text);
    background-color: var(--main-color-h);
    padding: 0.5em 1em;
    border-bottom: 5px dotted var(--main-color-h);
  }
  nav a:hover, nav a:focus, nav a[aria-current] {
    border-color: var(--hot-color);
  }

  #home main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
  }

  div.stats {
    order: 2;
    box-sizing: border-box;
    flex-basis: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 50px;
    margin-top: 4rem;
    background-position: 0 center;
  }
  div.decor {
    order: 1;
    box-sizing: border-box;
    flex-basis: 40%;
    padding: 5vmax;
    margin: 2rem 0 0;
  }
  div.stats ul {
    list-style-type: none;
    margin: 2rem 5% 2rem 20%;
  }
  div.stats li {margin-left: 0;}

  article.faq {margin: 0 0 2rem 5vmax;}
  p.register a {padding: 1rem 1.5em 0.8em 1em; transform: rotate(0);}

  aside::before {width: 278px; height: 214px;}
  aside p {max-width: 35em;}

  p.copyright {min-height: 90px;}
}


@media screen and (min-width: 1200px) {
  #home #wrapper {margin: 0 5%;}
  #home main {margin: 0;}
  #inner #wrapper {margin-top: -4vmax;}

  header {padding-right: 0;}
  p.cfp {
    transform: scale(2) rotate(45deg);
    top: 30px;
    right: -24px;
  }

  footer {padding: 9vw calc(5% + 9vw);}
  footer .content {
    display: flex;
    justify-content: space-between;
  }
  footer dl {flex-basis: 60%;}
  ul.links-list li {font-size: 0.95em;}

  div.decor {
    flex-basis: 60%;
  }
}

@media screen and (min-width: 1399px) {}
