/* --------------------------------------------------------------------
               	DEVFEST LILLE 2022
               		Media Queries
          				Ge Ricci, 2022
-------------------------------------------------------------------- */

@media screen and (min-width: 300px) {
  section.member div.hgroup {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  section.member p.illustration {
    background-size: contain;
  }
}

@media screen and (min-width: 600px) {
  header {margin-top: 5rem;}
  div.stats ul {
    display: flex;
    justify-content: space-around;
    gap: 5%;
  }
  div.stats li, div.stats strong {text-align: left;}

  div.stats li {flex: 1;}

  div.stats span {border: none;}

  div.stats strong {
    display: block;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--main-color);
  }
  @keyframes slideStats1 {
    0% {height: 1px;}
    100% {height: 6rem;}
  }
  @keyframes slideStats2 {
    0% {height: 1px;}
    100% {height: 6rem;}
  }
  @keyframes slideStats3 {
    0% {height: 1px;}
    100% {height: 6rem;}
  }
  @keyframes slideStats4 {
    0% {height: 1px;}
    100% {height: 6rem;}
  }

  div.stats li:nth-child(2), div.stats li:nth-child(3),
    div.stats li:nth-child(4) {
    margin-top: 0;
  }

  h1 > span {font-size: 1.5rem; margin-left: 133px;}
  .main-nav li:last-child {
    display: block;
  }
  
  div.footer-links {
    display: flex;
    justify-content: space-between;
  }
  footer ul.editions {
    padding-top: 0;
    padding-left: 2rem;
    margin-top: 0;
    border-top: none;
    border-left: 1px dotted var(--body-text);
  }

  ul.thumbs {flex-flow: row wrap;}
  ul.thumbs li {
    display: flex;
    justify-content: center;
    flex: 0 0 42%;
  }
  ul.thumbs figure {display: flex; flex-direction: column;}
  ul.thumbs figcaption {display: block; margin-top: auto; }

  div.team {flex-direction: row; flex-wrap: wrap;}
  section.member {flex: 1 1 35%; max-width: 400px;}

  div.highlight {
    display: flex;
    gap: 2rem;
  }

}


@media screen and (min-width: 600px) and (max-width: 1000px) {
  div.speaker-data-block {
    display: flex;
    justify-content: space-between;
  }
  div.speaker-data {
    flex: 1 1 45%;
  }
}


@media screen and (min-width: 800px) {
  p, li, dt, dd {font-size: 1.2em;}
  
  div.talk-links h4 {font-size: 1.4em;}

  footer .p-name::before {top: 2rem;}

  dl.h-event dd:last-of-type {
  	font-size: 1em;
  }

  section.news {margin-bottom: 4rem;}

  footer .p-name {font-size: 2em;}

  dl.h-event {
    margin-bottom: 2rem;
  }

  ul.links-list li {font-size: 1em;}

  div.decor .content {
    display: flex;
  }
  div.decor .content div {flex-basis: 60%;}
  div.decor h2 {margin-left: 4rem;}
  div.decor p.illustration {flex-basis: 60%;}

  div.decor h2 strong {color: var(--hot-light);}

  div.decor::after {
    bottom: auto;
    top: 0;
  }

  p.cfp {font-size: 0.95em;}
  div.stats {margin-bottom: 8rem;}
}


@media screen and (min-width: 1000px) {
  aside div.be-partner {
    display: grid;
  	grid-template-columns: 1.5fr 2fr;
  	grid-template-rows: auto auto;
  	gap: 2rem;
  }
    aside div.be-partner p.read-more {
      grid-column-start: 2;
      margin-top: 2rem;
    }
  
  div.speaker-sheet {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: auto auto;
    gap: 4rem;
  }
  div.speaker {order: 1;}
  div.speaker-data-block {
    order: 2;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
  div.talk {order: 3;}
}


@media screen and (min-width: 1300px) {
  #wrapper {width: 85%;}
  main, aside {
    margin-left: calc(5.2% + 145px);
  }

  nav {
  	position: fixed;
  	width: 10em;
  	bottom: auto;
  	left: auto;
    top: 8rem;
    right: 0;
    background-color: rgba(0,0,0,0);
    padding: 0.5rem 1rem 1rem 1rem;
    box-shadow: none;
  }

  nav ul {
    flex-direction: column;
    text-align: right;
    border: none;
  }
  nav li {text-align: right;}

  nav a, nav a:visited {
    display: block;
    background-color: rgba(0,0,0,0);
  	padding-right: 0;
  }

  footer {padding: 2rem 30% 4rem 5%;}
  footer div.content {margin-left: 2.5rem;}

  div.decor {margin: 0 0 7rem;}
  div.decor .content div {flex-basis: 60%;}

  .page-body {margin-bottom: 6rem;}
    .page-body h2 {font-size: 3em; margin-bottom: 4rem;}

  div.content {margin-bottom: 1.5rem;}
  ul.social {
    margin-top: auto;
  }
  ul.social li {
    font-size: 0.95em;
  }

  section.hour {
    display: flex;
    margin-top: 4rem;
  }
    section.hour h3 {
      flex: 0 0 4.5em;
      white-space: nowrap;
      text-align: right;
      margin: 2rem 0;
    }

  section.hour dd {
    margin-left: 2.5em;
  }
  section.hour div.content {
    flex: 1;
  }
  
  section.hour div.content a {
    box-sizing: border-box;
    padding-right: 65px;
  }

  section.hour div.content a:hover:after {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45px 45px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z' fill='%23EF7918' /%3E%3C/svg%3E");
  }

  div.modal div.content {height: 50vh;}
  div.modal h4 {
    font-size: 1.4em;
    margin-right: 4.5rem;
  }
}

@media screen and (min-width: 1500px) {
  div.with-news {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 10%;
  }
  section.news {flex: 0 1 35%;}
  div.with-news div.decor .content {display: block;}
}

@media screen and (min-width: 1700px) {
  div.all-speakers ul {flex-flow: row wrap;}  
  div.all-speakers li {flex: 1 1 45%;}
}