<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="Devfest, Lille, GDG, Conference, Web, Mobile, Cloud, Quickies" />
	<meta name="theme-color" content="#006D6D">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@gericci" />
	<meta property="og:url" content="https://devfest.gdglille.org/" />
	<meta property="og:title" content="Devfest Lille 2020" />
	<meta property="og:description" content="A whole journey of talks, quickies and exchanges around the Web, mobile, cloud and Google technologies" />
	<meta property="og:image" content="https://devfest.gdglille.org/img/logo-full.svg" />
	<link href="../img/favicon.png" type="image/png" rel="icon" />
	<title>DEVFEST LILLE 2020</title>

	<link href="../css/main.css" rel="stylesheet" media="all" />
	<link href="../css/queries.css" rel="stylesheet" media="all" />

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body id="home">

	<div id="container">

		<!-- PAGE HEADER -->
		<header>
			<h1>
				<img src="../img/logo-full.svg" alt="Devfest Lille 2020" />
				<span><time datetime="12-06-2020">June 12th, <span>2020</span></time> Kinepolis Lomme</span>
			</h1>
			<p class="cfp"><a href="https://conference-hall.io/public/event/4o1awYXIRayhu3vmOmiQ"><abbr title="Call for Paper">CFP</abbr>!</a></p>
		</header>

		<nav class="main-nav">
			<h2 class="k-skip"><a href="#wrapper">Navigation (Skip)</a></h2>
			<ul>
				<li><a href="index.html" aria-current="page">Home</a></li>
				<li><a href="faq.html">FAQ</a></li>
			</ul>
		</nav>

		<div id="wrapper">
			<main>
				<div class="group">
					<div class="presentation">
						<p>Embark for an amazing day of
							<strong>talks</strong> and rich <strong>exchanges</strong>
							about the Web, Mobile, Cloud, and get to know what is going on around Lille.</p>
						<p class="register"><a href="https://www.billetweb.fr/devfest-lille-2020">Register</a></p>
					</div>
					<div class="stats">
						<h2>Don't miss this trip!</h2>
						<ul>
							<li><strong>+800</strong> travelers</li>
							<li><strong>40</strong> guides</li>
							<li><strong>30</strong> travel jornals</li>
							<li><strong>4</strong> companies</li>
						</ul>
					</div>
				</div>

				<div class="decor">
					<h2>Departure : <strong>Kinépolis Lomme</strong></h2>
					<div class="content">
						<p class="illustration"><img src="../img/kinepolis.jpg" alt="A theater at Kinepolis Lomme" /></p>
						<p>Kinepolis is the third largest movie theater in the world and the number one in Europe, with 7286 seats.</p>
						<p class="read-more">
							<a rel="noreferrer noopener" target="_blank" href="https://www.google.fr/maps/place/Kinepolis/@50.6517681,2.9808181,15z/data=!4m2!3m1!1s0x0:0xf268b6955bfcfd0b?ved=2ahUKEwi9u_WU54HfAhVMzoUKHSpRAm8Q_BIwDnoECAQQCA">
								How to get there</a></p>
					</div>
				</div>
			</main>

			<aside>
				<div class="content">
					<h2>Become a partner</h2>
					<p>Get on board the Devfest Lille 2020 to gain on visibility and to exchange with the community of developers from Haut de France.</p>
					<p class="read-more"><a target="_blank" href="https://drive.google.com/file/d/1lZyTEQniTaBLU4KKZVFImjOmIjWLNsdG/view?usp=drivesdk">Partnership Agreement</a>
						[PDF, 5Mo]</p>

				</div>

				<div class="loader" v-if="isLoading"></div>

				<div class="content filled" v-else>
					<h3>Big Thanks to Our Partners!</h3>
					<div class="sponsors">
						<h4>Gold</h3>
						<ul>
						  <li v-for="(partner, idx) in partners.gold"
							  :key="`partner_gold_${idx}`">
							  <a :href="`https://${partner.url}`">
								  <img :src="partner.logoUrl"
									   :alt="partner.name" />
							  </a>
						  </li>
						</ul>
					</div>
					<div class="sponsors">
						<h4>Silver</h3>
						<ul>
						  <li v-for="(partner, idx) in partners.silver"
							  :key="`partner_silver_${idx}`">
							  <a :href="`https://${partner.url}`">
								<img :src="partner.logoUrl"
									 :alt="partner.name" />
							  </a>
						  </li>
						</ul>
					</div>
					<div class="sponsors">
						<h4>Bronze</h3>
						<ul>
						  <li v-for="(partner, idx) in partners.bronze"
							  :key="`partner_bronze_${idx}`">
							  <a :href="`https://${partner.url}`">
								  <img :src="partner.logoUrl"
									   :alt="partner.name" />
							  </a>
						  </li>
						</ul>
					</div>
					<div class="sponsors">
						<h4>Support</h3>
						<ul>
						  <li v-for="(partner, idx) in partners.contributors"
							  :key="`partner_contributor_${idx}`">
							  <a :href="`https://${partner.url}`">
								  <img :src="partner.logoUrl"
									   :alt="partner.name" />
							  </a>
						  </li>
						</ul>
					</div>
        		</div>
			</aside>
		</div>

		<hr />

		<footer>
			<div class="content">
				<dl class="h-event">
					<dt class="p-name">Devfest Lille 2020</dt>
					<dd class="p-summary">
						A whole journey of talks, quickies and exchanges around the Web, mobile, cloud and Google technologies.</dd>
					<dd>
						<time class="dt-start" datetime="2020-06-12">June 12th, 2020</time> -
						<a href="#" class="p-location">Kinépolis Lomme</a>
					</dd>
				</dl>
				<ul class="links-list">
					<li class="language"><a href="../index.html" lang="fr">Version Française</a></li>
					<!--li><a href="speakers.html" lang="en">Guides</a></li-->
					<!--li><a href="agenda.html">Agenda</a></li-->
					<li><a href="faq.html">FAQ</a></li>
					<li><a href="mailto:contact@gdglille.org">Contact us</a></li>
					<li><a href="code-conduite.html">Code of conduct</a></li>
					<li>
						<a href="https://devfest-2019.gdglille.org/">Journey 3/ 2019</a>
					</li>
					<li>
						<a href="https://devfest-2018.gdglille.org/">Journey 2/ 2018</a>
					</li>
					<li>
						<a href="https://devfest-2017.gdglille.org/">Journey 1/ 2017</a>
					</li>
				</ul>
			</div>
			<ul class="sm-list">
				<li class="show-icons">
					<a href="https://twitter.com/devfestLille/">
						<img src="../img/twitter.svg" alt="Twitter" /></a>
				</li>
				<li class="show-icons">
					<a href="https://www.linkedin.com/company/gdg-lille/">
						<img src="../img/linkedin.svg" alt="LinkedIn" /></a>
				</li>
			</ul>
			<p class="copyright">GDG Lille, 2020</p>
		</footer>

	</div> <!-- /container -->

	<script>
		const app = new Vue({
			el: '#wrapper',
			data: () => {
				return {
					isLoading: false,
					partners: {
						gold: [],
						silver: [],
						bronze: [],
						contributors: [],
					}
				};
			},
			created() {
				this.getPartners();
			},
			methods: {
				getPartners() {
					this.isLoading = true;

					axios.get('https://us-central1-cms-devfest.cloudfunctions.net/findAllActivePartners?editionId=VBsJyBiyXwaM1GsDzxP7')
						.then(res => res.data)
						.then(partners => {
							this.partners.gold = Object.values(partners).filter(partner => partner.level === 'GOLD');
							this.partners.silver = Object.values(partners).filter(partner => partner.level === 'SILVER');
							this.partners.bronze = Object.values(partners).filter(partner => partner.level === 'BRONZE');
							this.partners.contributors = Object.values(partners).filter(partner => partner.level === 'CONTRIBUTEUR');
						})
						.catch(err => console.error(err))
						.finally(() => this.isLoading = false);
				}
			}
		})
	</script>
</body>
</html>
