---
layout: layout.html
title: Agenda /
currSection: agenda
ogUrl: https://devfest.gdglille.org/agenda
ogTitle: Devfest Lille - Agenda
ogDescription: Le Devfest Lille est une journée de conférences et d'échanges sur le Web, Mobile, Cloud,	et de leur utilisation par les acteurs locaux
ogImage: https://devfest.gdglille.org/img/logo-full.svg
---

<div class="page-body">
  <h2>Agenda</h2>
  <div class="agenda">
      {%- for talk in collections.talks -%}
    <section class="hour">
      <h3 id="h{{talk[0]}}">
          {{talk[0]}}
          <a href="https://devfest.gdglille.org/agenda/index.html#h{{talk[0]}}">
          <img src="/img/link.svg" alt="Ancre"></a>
      </h3>
      <div class="content">
          {%- for t in talk[1] -%}

          <dl>
              <dt>{{ t.talk.room }} </dt>

              {% if t.id == undefined  %}
              <dd {% if t.talk.language == "English" %} lang="en" {%- endif -%}>
                {{ t.talk.title }}
              </dd>

              <dd {% if t.talk.language == "English" %} lang="en" {%- endif -%}> {{ t.speakers }}</dd>
              {%- endif -%}

              {% if t.id  %}
              <dd {% if t.talk.language == "English" %} lang="en" {%- endif -%}>
                <a href="/speaker-page-{{t.id}}">  {{ t.talk.title }}</a>
              </dd>

              <dd {% if t.talk.language == "English" %} lang="en" {%- endif -%}> {{ t.speakers }}</dd>
              {%- endif -%}
          </dl>
          {%- endfor -%}

      </div>
    </section>
      {%- endfor -%}
  </div>
