---
layout: layout.html
title: Agenda /
currSection: agenda
---

<div class="page-body">
  <h2>Agenda</h2>
  <div class="agenda">
      {%- for talk in collections.talks -%}
    <section class="hour">
      <h3 id="h{{talk[0]}}">
          {{talk[0]}}
          <a href="https://devfest.gdglille.org/agenda/index.html#h{{talk[0]}}">
          <img src="/img/link.svg" alt="Ancre"></a>
      </h3>
      <div class="content">
          {%- for t in talk[1] -%}

          <dl>
              <dt>{{ t.room }}</dt>
              <dd>
                  {% if t.talk.abstract %}
                <button class="modal-trigger" data-modal="conf-details-{{t.talk.id}}">
                  {{ t.talk.title }}
                </button>


                  {% else %}
                  {{ t.talk.title }}
                  {%- endif -%}
              </dd>
              <dd> {{ t.speakers }}</dd>
          </dl>
          {%- endfor -%}

      </div>
    </section>
      {%- endfor -%}
  </div>

</main>
</div>
{%- for talk in collections.talks -%}
{%- for t in talk[1] -%}
{% if t.talk.abstract %}
<div class="modal" id="conf-details-{{t.talk.id}}">
    <div class="overlay"></div>
    <div class="dialog" role="dialog" aria-labelledby="conf-details-title" aria-modal="true">
        <header>
            <h4 id="conf-details-title">{{ t.talk.title }}</h4>
            <p>{{ t.speakers }}</p>
        </header>
        <div class="content">
            <p>{{ t.talk.abstract }}</p>
            <p class="openfeedback"> Suite à la conférence, vous pouvez faire un retour aux conférenciers et conférencières sur <a href="{{t.talk.open_feedback}}" target="_blank">OpenFeedback</a></p>
        </div>
        <button class="bt-close">[ Fermer ]</button>
    </div>
</div>
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
</div>
