<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Devfest, Lille, GDG, Conférence, Web, Mobile, Cloud, Quickies" />
    <meta name="theme-color" content="#006D6D" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }} DEVFEST LILLE {{  collections.config.edition }}" />
    <meta name="twitter:image" content="https://devfest.gdglille.org/img/logo-full.svg" />
    <meta name="twitter:creator" content="@gericci" />
    <meta property="og:url" content="https://devfest.gdglille.org/" />
    <meta property="og:title" content="Devfest Lille {{  collections.config.edition }}" />
    <meta
            property="og:description"
            content="Le Devfest Lille est une journée de conférences et d'échanges sur le Web, Mobile, Cloud,	et de leur utilisation par les acteurs locaux"
    />
    <meta property="og:image" content="https://devfest.gdglille.org/img/logo-full.svg" />
    <link href="/img/favicon.svg" type="image/svg+xml" rel="icon" />
    <link href="/img/favicon.png" type="image/png" rel="icon" />
    <title>{{ title }} DEVFEST LILLE {{  collections.config.edition }}</title>

    <link href="/css/main.css" rel="stylesheet" media="all" />
    <link href="/css/queries.css" rel="stylesheet" media="all" />

    <!-- GOOGLE ANALYTICS -->

    <link rel="manifest" href="manifest.json" />
</head>

<body>
  <div id="container">
      <!-- PAGE HEADER -->
      <header>
          <h1>
              <strong><img src="/img/logodfl.svg" alt="Devfest Lille {{  collections.config.edition }}" /></strong>
            <span>
              <time datetime="2022-06-10">{{  collections.config.date }} <span>{{  collections.config.edition }}</span></time>
              Kinepolis Lomme
            </span>
          </h1>
          <p class="cfp">
              <a href="{{collections.config.cfpUrl}}">
                  <abbr lang="en" title="Call for Paper">CFP</abbr> ouvert jusqu'au {{collections.config.cfpEndedDate}}</a>
          </p>
      </header>

      <nav class="main-nav">
          <h2 class="k-skip"><a href="#wrapper">Navigation (Sauter)</a></h2>
          <ul>
              <li><a href="/index.html"
                {% if currSection == "index" %} aria-current="page" {% endif %}>
                Accueil</a></li>
              <!--li><a href="/speakers/index.html">Speakers</a></li>
              <li><a href="/agenda/index.html">Agenda</a></li-->
              <li><a href="/faq" {% if currSection == "faq" %} aria-current="page" {% endif %}>
                FAQ</a></li>
          </ul>
      </nav>

      <div id="wrapper">
          <main>
              {{ content }}
          </main>

          {% if currSection == "index" %}
          <aside>
              <div class="be-partner">
                <h2>Devenez partenaire</h2>

                  <p>Profitez de la {{ collections.config.editionNumber }}ème Devfest Lille Saison pour gagner en visibilité et échanger avec la
                      communauté des développeurs de la région Haut de France.</p>
                <p class="read-more">
                    <a target="_blank" href="{{ collections.config.partershipUrl }}">Dossier de partenariat</a> [PDF, 5Mo]                </p>
              </div>
              <div class="content filled">
                  <h2>Un grand merci à nos partenaires qui nous soutiennent déjà pour l'édition {{ collections.config.edition }}!</h2>
                  {% if collections.partners.golds.length > 0 %}
                  <div class="sponsors gold">
                      <h3>Gold</h3>

                      <ul>
                          {%- for p in collections.partners.golds -%}
                          <li>
                              <a href="{{p.site_url}}">
                                  <img src="/img/{{p.name}}.svg" alt="{{p.name}}" />
                              </a>
                          </li>
                          {%- endfor -%}

                      </ul>
                  </div>
                  {% endif %}
                  {% if collections.partners.silvers.length > 0 %}

                  <div class="sponsors silver">
                      <h3>Silver</h3>

                      <ul>
                          {%- for p in collections.partners.silvers -%}
                          <li>
                              <a href="{{p.site_url}}">
                                  <img src="/img/{{p.name}}.svg" alt="{{p.name}}" />
                              </a>
                          </li>
                          {%- endfor -%}

                      </ul>
                  </div>
                  {% endif %}

                  {% if collections.partners.bronzes.length > 0 %}

                  <div class="sponsors bronze">
                      <h3>Bronze</h3>

                      <ul>
                          {%- for p in collections.partners.bronzes -%}
                          <li>
                              <a href="{{p.site_url}}">
                                  <img src="/img/{{p.name}}.svg" alt="{{p.name}}" />
                              </a>
                          </li>
                          {%- endfor -%}

                      </ul>
                  </div>
                  {% endif %}

                  {% if collections.partners.length > 0 %}

                  <div class="sponsors">
                      <h4>Partenaire</h4>

                      <ul>
                          {%- for p in collections.partners -%}
                          <li>
                              <a href="{{p.site_url}}">
                                  <img src="/img/{{p.name}}.svg" alt="{{p.name}}" />
                              </a>
                          </li>
                          {%- endfor -%}

                      </ul>
                  </div>
                  {% endif %}

              </div>
          </aside>
          {% endif %}
      </div>

      <hr />

      <footer>
          <div class="content">
              <dl class="h-event">
                  <dt class="p-name">Devfest Lille {{ collections.config.edition }}</dt>
                  <dd class="p-summary">
                      Une journée de conférences, de quickies et d'échanges sur les sujets du web, du mobile, du cloud et des
                      technologies Google.
                  </dd>
                  <dd>
                      <time class="dt-start" datetime="2022-06-10">{{ collections.config.date }} {{ collections.config.edition }}</time> -
                      <a href="#" class="p-location">Kinépolis Lomme</a>
                  </dd>
              </dl>
              <ul class="links-list">
                  <li><a href="mailto:contact@gdglille.org">Contactez-nous</a></li>
                  <li><a href="/code-conduite">Code de conduite</a></li>
                  <li class="editions"><a href="https://devfest-2021-908e1.web.app/">Edition 2021</a></li>
                  <li>
                      <a href="https://devfest-2019.gdglille.org/">Edition 2019</a>
                  </li>
                  <li>
                      <a href="https://devfest-2018.gdglille.org/">Edition 2018</a>
                  </li>
                  <li>
                      <a href="https://devfest-2017.gdglille.org/">Edition 2017</a>
                  </li>
              </ul>
          </div>
          <ul class="sm-list">
              <li class="show-icons">
                  <a href="https://twitter.com/devfestLille/"><img src="/img/twitter.svg" alt="Devfest Lille sur Twitter" /></a>
              </li>
              <li class="show-icons">
                  <a href="https://www.linkedin.com/company/gdg-lille/"><img src="/img/linkedin.svg" alt="GDG Lille sur LinkedIn" /></a>
              </li>
          </ul>
          <p class="copyright">GDG Lille, 2022</p>
      </footer>
  </div>
  <!-- /container -->

<script>
    if ("serviceWorker" in navigator) {
        window.addEventListener("load", function () {
            navigator.serviceWorker
                .register("/sw.js")
                .then(function (registration) {
                    // Registration was successful
                    console.log("ServiceWorker registration successful with scope: ", registration.scope);
                })
                .catch(function (err) {
                    // registration failed :(
                    console.log("ServiceWorker registration failed: ", err);
                });
        });
    }
</script>
<script src="js/load.js"></script>
</body>
</html>
