<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="DevLille, Conférence, Web, Mobile, Cloud, Quickies" />
    <meta name="description" content="{{ ogDescription}}" />
    <meta name="theme-color" content="#006D6D" />
    <meta property="og:url" content="{{ogUrl}}" />
    <meta property="og:title" content="{{  ogTitle }}" />
    <meta property="og:description" content="{{ ogDescription}}" />
    <meta property="og:image" content="{{ogImage}}" />
    <link href="/img/favicon.svg" type="image/svg+xml" rel="icon" />
    <link href="/img/favicon.png" type="image/png" rel="icon" />
    <title>{{ title }} DEVLILLE {{  collections.config.edition }}</title>

    <link href="/css/main.css" rel="stylesheet" media="all" />
    <link href="/css/queries.css" rel="stylesheet" media="all" />
    <script src="https://cdn.metricalp.com/event/metricalp.js" data-tid="mam196" defer></script>




    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Event",
            "name": "DevLille {{ collections.config.edition }}",
            "startDate": "{{ collections.config.formattedStartDate }}T08:00+02:00",
            "endDate": "{{ collections.config.formattedEndDate }}T19:00+02:00",
            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
            "eventStatus": "https://schema.org/EventScheduled",
            "location": {
                "@type": "Place",
                "name": "Grand Palais",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "1 Bd des Cités Unies",
                    "addressLocality": "Lille",
                    "postalCode": "59777",
                    "addressCountry": "FR"
                }
            },
            "description": "2 jours de conférences et d'échanges accessibles à tous et toutes au coeur de Lille.",
            "offers": [{
                "@type": "Offer",
                "name": "Billet 2 jours / Jeudi et Vendredi",
                "url": "https://www.billetweb.fr/devlille-{{ collections.config.edition }}",
                "price": "80",
                "priceCurrency": "EUR",
                "availability": "https://schema.org/Reserved",
                "availabilityStarts": "{{ collections.config.edition }}-01-15T08:00+2:00",
                "availabilityEnds":	"{{ collections.config.formattedEndDate }}T08:00+2:00",
                "validFrom": "{{ collections.config.formattedStartDate }}T08:00+2:00",
                "validThrough": "{{ collections.config.formattedEndDate }}T19:00+2:00"
            },{
                "@type": "Offer",
                "name": "Billet 1 jour / Jeudi",
                "url": "https://www.billetweb.fr/devlille-{{ collections.config.edition }}",
                "price": "40",
                "priceCurrency": "EUR",
                "availability": "https://schema.org/Reserved",
                "availabilityStarts": "{{ collections.config.edition }}-01-15T08:00+2:00",
                "availabilityEnds":	"{{ collections.config.formattedStartDate }}T08:00+2:00",
                "validFrom": "{{ collections.config.formattedStartDate }}T08:00+2:00",
                "validThrough": "{{ collections.config.formattedStartDate }}T19:00+2:00"
            },{
                "@type": "Offer",
                "name": "Billet 1 jour / Vendredi",
                "url": "https://www.billetweb.fr/devlille-{{ collections.config.edition }}",
                "price": "40",
                "priceCurrency": "EUR",
                "availability": "https://schema.org/Reserved",
                "availabilityStarts": "{{ collections.config.edition }}-01-15T08:00+2:00",
                "availabilityEnds":	"{{ collections.config.formattedEndDate }}T08:00+2:00",
                "validFrom": "{{ collections.config.formattedEndDate }}T08:00+2:00",
                "validThrough": "{{ collections.config.formattedEndDate }}T19:00+2:00"
            }],
            "organizer": {
                "@type": "Organization",
                "name": "DevLille",
                "url": "https://devlille.fr/"
            }
        }
    </script>
    <link rel="manifest" href="manifest.json" />
</head>

<body {% if currSection == "index" %} id="home" {% endif %}>
    <div id="container">
        <!-- PAGE HEADER -->
        <header>
            <h1>
                {% if currSection == "index" %}
                    <img src="/img/logodl.svg" alt="DevLille {{  collections.config.edition }}" />
                {% else %}
                <a href="/index.html" aria-label="DevLille: Retour à l'accueil">
                    <img src="/img/logodl.svg" alt="DevLille {{  collections.config.edition }}" />
                </a>
                {% endif %}
            </h1>
            <div>
                <p>
                    <time datetime="{{ collections.config.formattedStartDate }}">
                        {{  collections.config.date }}
                        <!--{{  collections.config.edition }}-->
                    </time>
                    <span>Lille Grand Palais</span>
                </p>
                {% if collections.config.enabled.billetweb  %}
                <p class="register">
                    <a 
                    rel="noreferrer noopener" 
                    target="_blank" 
                    href="{{ collections.config.billetwebUrl }}{{collections.config.edition}}">
                    Prenez votre place!</a>
                </p>
                {%- endif -%}
                <p class="register">
                    <a rel="noreferrer noopener" target="_blank"
                      href="https://docs.google.com/forms/d/e/1FAIpQLScoYCZmUCC4ayhc2KormzAmtuhUGv9oR5FZdWViolJ5cfVrAQ/viewform?usp=sf_link">
                      Participez au Ch'ti Tremplin! </a>
                  </p>
                {% if collections.config.enabled.earlyBirds %}
                <p class="register">
                  <a rel="noreferrer noopener" target="_blank"
                    href="{{ collections.config.earlyBirds }}">
                    Prenez votre place Early Bird!</a>
                </p>
                {%- endif -%}
            </div>
        </header>

        <nav class="main-nav">
            <h2 class="k-skip"><a href="#wrapper">Navigation (Sauter)</a></h2>
            <ul>
                <li>
                    <a href="/index.html" {% if currSection == "index" %} aria-current="page" {% endif %}>
                        <svg role="img" width="20" height="20" aria-hidden="true">
                            <use href="/img/sprite.svg#ic-home"></use>
                        </svg>
                        Accueil</a>
                </li>

                {% if collections.talksByDate.length > 0 %}
                <li>     
                    <a href="/agenda/index.html" {% if currSection == "agenda" %} aria-current="page" {% endif %}>
                        <svg role="img" width="20" height="20" aria-hidden="true">
                            <use href="/img/sprite.svg#ic-agenda"></use>
                        </svg>
                        Agenda</a>
                </li>
                {% endif %}
                
                <li>
                    <a href="/faq" {% if currSection == "faq" %} aria-current="page" {% endif %}>
                        <svg role="img" width="20" height="20" aria-hidden="true">
                            <use href="/img/sprite.svg#ic-faq"></use>
                        </svg>
                        FAQ</a>
                </li>
                {% if collections.config.enabled.welovedevs  %}
                <li>
                    <a href="/wld" {% if currSection == "wld" %} aria-current="page" {% endif %}>Offres d'emploi</a>
                </li>
                {%- endif -%}
      
            </ul>
        </nav>

        <div id="wrapper">
            <main>
                {{ content }}
            </main>

            {% if currSection == "index" %}
            {% if collections.config.enabled.sponsoring  %}
            <aside>
                <div class="be-partner">
                    <h2>Devenez partenaire</h2>
    
                      <p>Profitez de la première édition du DevLille pour gagner en visibilité et échanger avec la
                          communauté des développeurs de la région Haut de France.</p>
                    <p class="read-more">
                        <a target="_blank" href="{{ collections.config.partershipUrl }}">Dossier de partenariat</a> [PDF, 5Mo]                </p>
                  </div>
                <div class="content filled">
                    <h2>Un grand merci à nos partenaires qui nous soutiennent déjà pour l'édition
                        {{ collections.config.edition }}!</h2>
                    
            

                    {% if collections.partners.gold.length > 0 %}
                    <div class="sponsors gold">
                        <h3>Gold</h3>

                        <ul>
                            {%- for p in collections.partners.gold -%}
                            <li class="sponsor">
                                <a aria-label="Visiter le site de {{p.name}}" href="partner-{{p.id}}">
                                    <img src="/img/{{p.logoName}}.{{p.ext}}" alt="{{p.name}}" loading="lazy" />
                                </a>
                            </li>
                            {%- endfor -%}

                        </ul>
                    </div>
                    {% endif %}
                    {% if collections.partners.silver.length > 0 %}

                    <div class="sponsors silver">
                        <h3>Silver</h3>

                        <ul>
                            {%- for p in collections.partners.silver -%}
                            <li class="sponsor">
                                <a aria-label="Visiter le site de {{p.name}}" href="partner-{{p.id}}">
                                    <img src="/img/{{p.logoName}}.{{p.ext}}" alt="{{p.name}}" loading="lazy" />
                                </a>
                            </li>
                            {%- endfor -%}

                        </ul>
                    </div>
                    {% endif %}

                    {% if collections.partners.bronze.length > 0 %}

                    <div class="sponsors bronze">
                        <h3>Bronze</h3>

                        <ul>
                            {%- for p in collections.partners.bronze: -%}
                            <li class="sponsor">
                                <a aria-label="Visiter le site de {{p.name}}" href="partner-{{p.id}}">
                                    <img src="/img/{{p.logoName}}.{{p.ext}}" alt="{{p.name}}" loading="lazy" />
                                </a>
                            </li>
                            {%- endfor -%}

                        </ul>
                    </div>
                    {% endif %}

                    <div class="sponsors community">
                        <h3>Community Partners</h3>

                        <ul>
                            
                            <li class="sponsor">
                                <a aria-label="Visiter le site de chtitedev" href="https://mobilizon.fr/@chtitedev">
                                    <img src="/img/community/chtitedev.png" alt="" loading="lazy" />
                                </a>
                            </li>
                            <li class="sponsor">
                                <a aria-label="Visiter le site de Cloud Nord" href="https://cloudnord.fr/">
                                    <img src="/img/community/cloudnord.png" alt="" loading="lazy" />
                                </a>
                            </li>
                            
                            <li class="sponsor">
                                <a aria-label="Visiter le site de Crafts Record" href="https://craftsrecords.org/">
                                    <img src="/img/community/craftsrecord.png" alt="" loading="lazy" />
                                </a>
                            </li>
                            <li class="sponsor">
                                <a aria-label="Visiter le site de Front(end | &) Beers" href="https://www.meetup.com/fr-FR/frontendbeers/">
                                    <img src="/img/community/frontend.png" alt="" loading="lazy" style="max-width: 90%;"/>
                                </a>
                            </li>
                            <li class="sponsor">
                                <a aria-label="Visiter le site de Holberton School" href="https://www.holbertonschool.fr/campus/lille?utm_source=GOOGLE&utm_medium=LILLE&utm_campaign=MARQUE&gclid=EAIaIQobChMItpGH9I6LhQMVT1JBAh2lWgJbEAAYASAAEgJU-PD_BwE}">
                                    <img src="/img/holberton.png" alt="" loading="lazy" />
                                </a>
                            </li>
                            <li class="sponsor">
                                <a aria-label="Visiter le site de MTG:Lille" href="https://www.meetup.com/fr-FR/mtg-lille/">
                                    <img src="/img/community/mtg.png" alt="" loading="lazy" />
                                </a>
                            </li>
                            <li class="sponsor">
                                <a aria-label="Visiter le site de We love Devs" href="https://welovedevs.com/">
                                    <img src="/img/wld.svg" alt="" loading="lazy" />
                                </a>
                            </li>
                            <li class="sponsor">
                                <a aria-label="Visiter le site de Wild Code School" href="https://www.wildcodeschool.com/fr-FR/campus/a-distance?utm_feeditemid=&utm_device=c&utm_term=wild%20code%20school%20formation&utm_source=google&utm_medium=ppc&utm_campaign=FR-GGL-BRAND+CAMPAIGN&hsa_cam=14821000047&hsa_grp=136646397004&hsa_mt=p&hsa_src=g&hsa_ad=629161360522&hsa_acc=4421706736&hsa_net=adwords&hsa_kw=wild%20code%20school%20formation&hsa_tgt=kwd-1843089244925&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMIjP3d_I6LhQMVhAQGAB1UzQ3gEAAYAiAAEgItffD_BwE">
                                    <img src="/img/wcs.webp" alt="" loading="lazy" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sponsors community">
                        <h3>DevLille Graine de Dev </h3>
                        <ul>
                            <li class="sponsor">
                                <a aria-label="Visiter le site de Exotec" href="https://www.exotec.com/">
                                    <img src="/img/exotec.svg" alt="" loading="lazy" style="max-width: 90%;"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            {% endif %}
            {% endif %}
        </div>

        <hr />

        <footer>
            
            <div class="content">
                
                <dl class="h-event">
                    <dt class="p-name">DevLille {{ collections.config.edition }}</dt>
                    <dd class="p-summary">
                        2 jours de conférences et d'échanges accessibles 
                        à tous et à toutes au coeur de Lille
                    </dd>
                </dl>
                <div id="mc_embed_shell">
                    <link 
                        href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" 
                        rel="stylesheet" 
                        type="text/css">
                    <div id="newsletter">
                        <div id="mc_embed_signup">
                            <form action="https://gdglille.us17.list-manage.com/subscribe/post?u=20e377fe4a62412ff254e60e0&amp;id=8ad076b614&amp;f_id=00c6cde3f0" 
                                method="post" 
                                id="mc-embedded-subscribe-form" 
                                name="mc-embedded-subscribe-form" 
                                class="validate" 
                                target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h2>
                                        S'inscrire à la newsletter du DevLille
                                    </h2>
                                    <p class="email">
                                        <label for="mce-EMAIL">
                                            Email 
                                            <span class="asterisk" aria-hidden="true">
                                                *
                                            </span>
                                        </label>
                                        <input 
                                            type="email" 
                                            name="EMAIL" 
                                            class="email" 
                                            id="mce-EMAIL" 
                                            required="required" 
                                            autocomplete="email"
                                            value="">
                                        <input 
                                            type="submit" 
                                            name="subscribe" 
                                            id="mc-embedded-subscribe" 
                                            value="Confirmer">
                                    </p>
                                <div hidden="">
                                    <input type="hidden" name="tags" value="8399931">
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div 
                                        class="response" 
                                        id="mce-error-response" 
                                        style="display: none;"></div>
                                    <div 
                                        class="response" 
                                        id="mce-success-response" 
                                        style="display: none;"></div>
                                </div>
                                <div 
                                    aria-hidden="true" 
                                    style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                    <input 
                                        type="text" 
                                        name="b_20e377fe4a62412ff254e60e0_8ad076b614" 
                                        tabindex="-1" 
                                        value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <p class="mce-logo">
                                            <a href="http://eepurl.com/iRWe4g">
                                                <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg" alt="Intuit Mailchimp">
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='BIRTHDAY';ftypes[3]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                </div>
    
                <div class="footer-links">
                    <ul class="links-list">
                        <li><a href="/a-propos">L'équipe DevLille</a></li>
                        <li><a href="/press">On parle de nous</a></li>
                        <li><a href="mailto:contact@devlille.fr">Contactez-nous</a></li>
                        {% if collections.config.enabled.sponsoring %}
                        <li><a href="{{ collections.config.partershipUrl }}">Devenez partenaire</a></li>
                        {%- endif -%}
                        <li><a href="/code-conduite">Code de conduite</a></li>
                        <li><a href="/promo">Ressources graphiques</a></li>
                        {% if collections.config.enabled.welovedevs  %}
                        <li><a href="/wld">Offres d'emploi</a></li>
                        {%- endif -%}
                    </ul>
                    <ul class="links-list editions">
                        {%- for edition in collections.editions -%}
                        <li><a href="{{edition.url}}">{{edition.year}}</a></li>
                        {%- endfor -%}
                        <!--li>
                            <a href="https://devfest-2017.gdglille.org/">2017</a>
                        </li-->
                    </ul>
                </div>
            </div>
            <div class="related">
                <ul class="sm-list">
                    <li class="show-icons">
                        <a href="https://bsky.app/profile/devlille.fr">
                            <svg role="img" width="24" height="24">
                                <title>DevLille sur BleuSky</title>
                                <use href="/img/sprite.svg#ic-bluesky"></use>
                            </svg></a>
                    </li>
                    <li class="show-icons">
                        <a href="https://piaille.fr/@devlille">
                            <svg role="img" width="24" height="24">
                                <title>DevLille sur Mastodon</title>
                                <use href="/img/sprite.svg#ic-mastodon"></use>
                            </svg></a>
                    </li>
                    <li class="show-icons">
                        <a href="https://www.linkedin.com/company/devlille/">
                            <svg role="img" width="24" height="24">
                                <title>DevLille sur LinkedIn</title>
                                <use href="/img/sprite.svg#ic-linkedin"></use>
                            </svg></a>
                    </li>
                </ul>
                <p class="copyright">DevLille, {{ collections.config.edition }}</p>
            </div>
        </footer>
    </div>
    <!-- /container -->

    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", function () {
                navigator.serviceWorker
                    .register("/sw.js")
                    .then(function (registration) {
                        // Registration was successful
                        console.log("ServiceWorker registration successful with scope: ", registration
                            .scope);
                    })
                    .catch(function (err) {
                        // registration failed :(
                        console.log("ServiceWorker registration failed: ", err);
                    });
            });
        }
    </script>
</body>

</html>
