---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import TalkItem from "../components/TalkItem.astro";
import FavoritesSwitch from "../components/FavoritesSwitch.astro";
import { createTalksCollectionsBydate } from "../utils/getTalksByDate";

const og = {
    ogTitle: "DevLille - Agenda",
    ogDescription:
        "2 jours de conférences et d'échanges accessibles à tous et toutes au coeur de Lille",
    ogImage: "https://devlille.fr/img/logo-full.svg",
};

const talksByDate = await createTalksCollectionsBydate();
---

<Layout title="Agenda /" currSection="agenda">
    <div class="page-body">
        <h2>
            Agenda
            <FavoritesSwitch />
        </h2>

        <Timeline data={talksByDate} ItemComponent={TalkItem} />
    </div>
</Layout>
