---
import Layout from "../layouts/Layout.astro";
import config from "../config/config";
import JobCard, { type Job } from "../components/JobCard.astro";

type Partner = {
  id: string;
  name: string;
  jobs?: Job[];
};

type ApiResponse = {
  partners: Partner[];
};

const response: ApiResponse = await fetch(
  `${config.partnersActivitiesApi}/events/${config.eventId}/partners/activities`,
).then((res) => res.json());

const jobsWithPartner = response.partners.flatMap((partner) =>
  (partner.jobs ?? []).map((job) => ({ ...job, partnerName: partner.name })),
);
---

<Layout title="Les offres d'emploi de nos partenaires" currSection="offres">
  <div class="page-body">
    <article class="h-entry">
      <h2 class="p-name">Les offres d'emploi de nos partenaires</h2>

      <div class="intro">
        <p>Nos partenaires nous partagent leurs offres d'emploi actuelles.</p>
      </div>

      <div class="job-offers">
        {jobsWithPartner.map((job) => (
          <JobCard job={job} partnerName={job.partnerName} />
        ))}
        {jobsWithPartner.length === 0 && (
          <p>Aucune offre d'emploi disponible pour le moment.</p>
        )}
      </div>
    </article>
  </div>
</Layout>
