---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Les offres d'emploi de nos partenaires" currSection="offres">
  <div class="page-body">
    <article class="h-entry">
      <h2 class="p-name">Les offres d'emploi de nos partenaires</h2>

      <div class="intro">
        <p>
            Nos partenaires nous partagent leurs offres d'emploi actuelles.
        </p>
      </div>

      <div class="job-offers">
        <section class="h-listing">
          <header>
            <h3 class="p-action wanted">
              <a href="#" class="u-url" target="_blank">Developeur Fullstack Senior</a>
            </h3>
            <p class="dt-location">Paris</p>
          </header>
          <dl>
            <div>
              <dt>Expérience</dt>
              <dd>Minimum 5 ans</dd>
            </div>
            <div>
              <dt>Salaire</dt>
              <dd>36k à 55k</dd>
            </div>
            <div>
              <dt>Publiée le</dt>
              <dd class="dt-listed">15/01/26</dd>
            </div>
          </dl>
        </section>
        <section class="h-listing">
          <header>
            <h3 class="p-action wanted">
              <a href="#" class="u-url" target="_blank">Developeur Fullstack Senior</a>
            </h3>
            <p class="dt-location">Paris</p>
          </header>
          <dl>
            <div>
              <dt>Expérience</dt>
              <dd>Minimum 5 ans</dd>
            </div>
            <div>
              <dt>Salaire</dt>
              <dd>36k à 55k</dd>
            </div>
            <div>
              <dt>Publiée le</dt>
              <dd class="dt-listed">15/01/26</dd>
            </div>
          </dl>
        </section>
      </div>

    </article>
  </div>

  </Layout>
