---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Les offres d'emploi de nos partenaires" currSection="offres">
  <div class="page-body">
    <article class="h-entry">
      <h2 class="p-name">Les offres d'emploi de nos partenaires</h2>

      <div class="intro">
        <p>
            Nos partenaires nous partagent leurs offres d'emploi actuelles.
        </p>
      </div>

      <div class="job-offers">
          <dl class="h-listing">
            <dt class="p-action wanted">
                <a href="#" class="u-url" target="_blank">Developeur Fullstack Senior</a>
            </dt>
            <dd>Axa &ndash; Paris</dd>
            <dd>Offre publiée le <span class="dt-listed">15/01/26</span></dd>
          </dl>
          <dl class="h-listing">
            <dt class="p-action wanted">
                <a href="#" class="u-url" target="_blank">Poste</a>
            </dt>
            <dd>Partenaire &ndash; Localisation</dd>            
            <dd>5 ans et plus</dd>
            <dd>Offre publiée le <span class="dt-listed">JJ/MM/AA</span></dd>
          </dl>
      </div>

    </article>
  </div>

  </Layout>
