---
import { getCollection } from "astro:content";
import Pack from "../components/pack.astro";

const sponsors = (await getCollection("sponsors")).map((c) => c.data);

const gold = sponsors.filter((s) => s.sponsoring === "gold") ?? [];
const silver = sponsors.filter((s) => s.sponsoring === "silver") ?? [];
const bronze = sponsors.filter((s) => s.sponsoring === "bronze") ?? [];
---

{gold.length > 0 && <Pack title="Gold" partners={gold} />}
{silver.length > 0 && <Pack title="Silver" partners={silver} />}
{bronze.length > 0 && <Pack title="Bronze" partners={bronze} />}

<div class="sponsors community">
  <h3>Partenaire Freelance et Startup</h3>
  <ul>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de GreenNerds"
        href="https://www.linkedin.com/company/codekaio/?originalSubdomain=fr"
      >
        <img
          src="/img/codekaio.png"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
  </ul>
</div>

<div class="sponsors community">
  <h3>Partenaires DevLille Graine de Dev</h3>
  <ul>
    <li class="sponsor">
      <a aria-label="Visiter le site de Exotec" href="https://www.exotec.com/">
        <img
          src="/img/sponsors/exotec.svg"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
    <li class="sponsor">
      <a aria-label="Visiter le site de Zenika" href="https://zenika.com/en-US">
        <img
          src="/img/zenika.svg"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
  </ul>
</div>

<div class="sponsors community">
  <h3>Partenaire Fresque du Climat</h3>
  <ul>
    <li class="sponsor dark">
      <a
        aria-label="Visiter le site de GreenNerds"
        href="https://green-nerds.io/"
      >
        <img
          src="/img/greenerds.svg"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
  </ul>
</div>

<div class="sponsors community">
  <h3>Community Partners</h3>

  <ul>
    <li class="sponsor">
      <a aria-label="Visiter le site de Chti JUG" href="https://chtijug.org/"
        ><img src="/img/chtijug.png" alt="" loading="lazy" /></a
      >
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de chtitedev"
        href="https://mobilizon.fr/@chtitedev"
      >
        <img src="/img/community/chtitedev.png" alt="" loading="lazy" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Cloud Nord"
        href="https://cloudnord.fr/"
      >
        <img src="/img/community/cloudnord.png" alt="" loading="lazy" />
      </a>
    </li>

    <li class="sponsor">
      <a
        aria-label="Visiter le site de Crafts Record"
        href="https://craftsrecords.org/"
      >
        <img src="/img/community/craftsrecord.png" alt="" loading="lazy" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Estaminet Tech"
        href="https://estamitech.fr/"
      >
        <img
          src="/img/community/LogoEstamitech.jpg"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Front(end | &) Beers"
        href="https://www.meetup.com/fr-FR/frontendbeers/"
      >
        <img
          src="/img/community/frontend.png"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Holberton School"
        href="https://www.holbertonschool.fr/campus/lille?utm_source=GOOGLE&utm_medium=LILLE&utm_campaign=MARQUE&gclid=EAIaIQobChMItpGH9I6LhQMVT1JBAh2lWgJbEAAYASAAEgJU-PD_BwE}"
      >
        <img
          src="/img/full whte ADS-logo holberton (1).svg"
          alt=""
          loading="lazy"
        />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Lille Android User Group"
        href="https://www.meetup.com/fr-fr/lille-android-user-group/"
      >
        <img src="/img/laug.avif" alt="" loading="lazy" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de MTG:Lille"
        href="https://www.meetup.com/fr-FR/mtg-lille/"
      >
        <img src="/img/community/mtg.png" alt="" loading="lazy" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Meetup PostgreSQL Lille"
        href="https://www.linkedin.com/company/meetup-postgresql-lille/"
      >
        <img src="/img/postgre.jpeg" alt="" loading="lazy" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Meetup Software Craft Lille"
        href="https://www.meetup.com/fr-FR/software-craftsmanship-lille/"
      >
        <img src="/img/community/IMG_9952.png" alt="" loading="lazy" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de We love Devs"
        href="https://welovedevs.com/"
      >
        <img src="/img/wld.svg" alt="" loading="lazy" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Wild Code School"
        href="https://www.wildcodeschool.com/fr-FR/campus/a-distance?utm_feeditemid=&utm_device=c&utm_term=wild%20code%20school%20formation&utm_source=google&utm_medium=ppc&utm_campaign=FR-GGL-BRAND+CAMPAIGN&hsa_cam=14821000047&hsa_grp=136646397004&hsa_mt=p&hsa_src=g&hsa_ad=629161360522&hsa_acc=4421706736&hsa_net=adwords&hsa_kw=wild%20code%20school%20formation&hsa_tgt=kwd-1843089244925&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMIjP3d_I6LhQMVhAQGAB1UzQ3gEAAYAiAAEgItffD_BwE"
      >
        <img src="/img/wcs.webp" alt="" loading="lazy" />
      </a>
    </li>
  </ul>
</div>
<div class="sponsors community">
  <h3>Partenaire Média</h3>
  <ul>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de Human Coders"
        href="https://www.humancoders.com/"
      >
        <img src="/img/hc.png" alt="" loading="lazy" style="max-width: 90%;" />
      </a>
    </li>
    <li class="sponsor">
      <a
        aria-label="Visiter le site de La French Tech Lille"
        href="https://www.lafrenchtechlille.com/"
      >
        <img
          src="https://rdv.lafrenchtechlille.com/images/configuration/logos/66431c8ab265e810426059.png"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
    <li class="sponsor">
      <a aria-label="Visiter le site de NCLS" href="https://ncls.tv/">
        <img
          src="/img/NCLS.svg"
          alt=""
          loading="lazy"
          style="max-width: 90%;"
        />
      </a>
    </li>
  </ul>
</div>
