---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources graphiques" currSection="promo">
  <div class="page-body">
    <article class="h-entry">
      <h2 class="p-name">Resources graphiques</h2>

      <div class="intro">
        <p>
          Vous pouvez disposer des resources graphiques du DevLille pour
          promouvoir votre participation à l'événement !
        </p>
      </div>

      <div class="group">
        <h3>Le Logo DevLille</h3>

        <ul class="thumbs">
          <li>
            <figure>
              <a href="/img/promo/logo-full.png" download="devlille-logo25-png">
                <img
                  src="/img/promo/logo-full.png"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>Logo complet <span>(PNG, 8Ko)</span></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a href="/img/promo/logo-full.svg" download="devlille-logo25-svg">
                <img
                  src="/img/promo/logo-full.svg"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>Logo complet <span>(SVG, 8Ko)</span></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-black-transparent.png"
                download="devlille-logo-simple-black"
              >
                <img
                  src="/img/promo/logo-simple-black-transparent.png"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>
                Logo seul noir transparent <span>(PNG, 4Ko)</span>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-black.svg"
                download="devlille-logo-simple-black-svg"
              >
                <img
                  src="/img/promo/logo-simple-black.svg"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>Logo seul noir <span>(SVG, 3Ko)</span></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-gray.png"
                download="devlille-logo-simple-gray"
              >
                <img
                  src="/img/promo/logo-simple-gray.png"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>
                Logo seul tons de gris <span>(PNG, 5Ko)</span>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-gray.svg"
                download="devlille-logo-simple-gray-svg"
              >
                <img
                  src="/img/promo/logo-simple-gray.svg"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>
                Logo seul tons de gris <span>(SVG, 3Ko)</span>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-color.png"
                download="devlille-logo-simple-color"
              >
                <img
                  src="/img/promo/logo-simple-color.png"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>Logo seul couleur <span>(PNG, 6Ko)</span></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-color.svg"
                download="devlille-logo-simple-color-svg"
              >
                <img
                  src="/img/promo/logo-simple-color.svg"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>Logo seul couleur <span>(SVG, 3Ko)</span></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-color-transparent.png"
                download="devlille-logo-simple-color-trs"
              >
                <img
                  src="/img/promo/logo-simple-color-transparent.png"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>
                Logo seul couleur transparent <span>(PNG, 6Ko)</span>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a
                href="/img/promo/logo-simple-color-bg.svg"
                download="devlille-logo-simple-colorbg-svg"
              >
                <img
                  src="/img/promo/logo-simple-color-bg.svg"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>
                Logo seul couleur avec background <span>(SVG, 3Ko)</span>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>

      <div class="group typography">
        <h3>Typographie et palette des couleurs</h3>

        <div class="typography">
          <p>
            <a href="https://fonts.google.com/specimen/Outfit?query=outfit"
              >Outfit</a>
          </p>

          <p id="font-sample">
            A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br />
            a b c d e f g h i j k l m n o p q r s t u v w x y z<br />
            1 2 3 4 5 6 7 8 9 0
          </p>
        </div>

        <ul class="palette" aria-label="Liste des couleurs en valeurs hexa">
          <li>#00465b</li>
          <li>#005772</li>
          <li>#00A6E8</li>
          <li>#C2E1F9</li>
          <li>#FFBB3D</li>
          <li>#FFF2BD</li>
          <li>#F9C3E6</li>
          <li>#C2F9D2</li>
        </ul>
      </div>

      <div class="group">
        <h3>Teaser</h3>

        <p>
          Communiquez sur le DevLille sur les réseaux sociaux, avec votre
          message personnalisé.
        </p>

        <ul class="thumbs">
          <li>
            <figure>
              <a href="/img/promo/teaser25.png" download="devlille-teaser25">
                <img
                  src="/img/promo/teaser25.png"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>Teaser <span>(PNG, 29Ko)</span></figcaption>
            </figure>
            <figure>
              <a href="/img/promo/teaser25-b.png" download="deville-teaser25-b">
                <img
                  src="/img/promo/teaser25-b.png"
                  width="300"
                  alt="Télécharger image"
                /></a
              >
              <figcaption>Teaser <span>(PNG, 37Ko)</span></figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </article>
  </div>

  <script></script></Layout
>
